<div class="row">
  
</div>
<div id="content-left" class="col-md-3" style="">
  <img src="assets/img/owl.jpg" alt="" class="img-responsive"/>
</div>

<div id="content" class="col-md-9">
  <h1 class="heading-medium">About McMurtry</h1>

  <p> McMurtry college is the 10th residential college to grace the Rice
  campus. A LEED certified brick building located on the northeastern edge
  of campus, it sits at the optimal location for those seeking the
  shortest path between their dorms and some of the most popular locations
  on campus, such as the academic quad (home to many buildings in which
  students will most likely have classes), Duncan Hall (for all things
  engineering), and the West Servery (the best place to eat at Rice). </p>

  <p>
  McMurtry first opened its doors in the fall of 2009. The first generation of Murts numbered in the low
  seventies so the administration grabbed some Will Rice college students
  to stuff up the remaining space. McMurtry graciously put up with the
  foreign intrusion and the two groups have learned to coexist peacefully
  as sister colleges. </p>

  <p> The college also boasts many fantastic accommodations like a handy
  campfire pit in the middle of the quad, a wide roof with a lovely city
  view and a kitchen on every level. Other facilities include a pair of
  volleyball courts, a game room, a theater room, a plethora of study
  rooms and lots more to be added forthcoming. </p>

  <p> McMurtry college is home to the Murts, a diverse collection of
  students coming from all walks of life. Whether you are a musi, archi,
  engineer or  an academ, there’s a place for everyone within the walls of McMurtry. Murts are a close bunch who can often to be seen
  eating, playing, studying and dodging ceiling tiles together. Small in
  numbers, fierce in spirit and amazing in everything else, being a Murt
  is not just a transient college title but a way of life. </p>

</div>
</div>
