<div id="content" class="col-md-12">
  <h1>Charge to the Students of McMurtry College</h1>

  <p>On September 3, 2009, Burt and Deedee McMurtry visited the college to see what had been built on the foundation that they had laid. In an address to the students and associates of McMurtry, they gave us a mission and a challenge. We value these principles for the college and for the university, and in doing so, pay tribute to the founders of McMurtry College.</p>

  <p>1. Support your University. Be passionate about your college, but spend at least as much energy being passionate about the entire University</p>

  <p>2. Be collaborative. Love and support your college, but be known as the most collaborative, most inclusive college Rice has ever seen.</p>

  <p>3. Feed your intensity. You're here to learn, to stretch, to find yourself, and to excel. Revel in the fact that you are in an environment where almost everyone encourages and respects excellence. Take advantage of it.</p>

  <p>4. Enjoy yourself. You may have to work at it, but find ways to get real pleasure both from your studies and your very important extracuuicular activities.</p>

  <p>5. Be thankful. Rejoice in the fact that you're here and remember to celebrate the family, mentors, friends, and personal gifts that put you here.</p>

  <p>6. Lastly, along with all these, have fun. You will remember these as some of the most carefree years of your life. Even though we didn't have the college system when we were here, we both had a great time at Rice, participating in student government, clubs, intramurals, parties within our class, etc. You will make life-long friends here and receive a wonderful education, leading to adulthood with its joys and responsibilities. And please become faithful, supportive alumni. You'll enjoy it.</p>


  <hr />

    <img src="assets/img/mcm_outside01.jpg" alt="" class="center img-responsive" />

</div>

