<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Alumni</h3>
      <p>Wondering how McMurtry alumni keep in touch with the best college at Rice? Look no further than the Alumni Committee. Our committee sends out a newsletter each semester during the school year to all McMurtry alums, updating them on what's going on at Rice and McMurtry. We also plan events at McMurtry that include alumni such as during Homecoming, McMurtry Day, and Beer Bike! As a recently formed committee, our goals are to reach out to the young, enthusiastic classes that just graduated our college and get them involved in making McMurtry's culture amazing.</p>

      <table class="table table-hover ">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
        <tbody>
      <tr><td>Patrick Dunphy</td><td class="email" id="pdunphy"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

