<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Amenities</h3>
      <p>The Amenities Committee is responsible for the improvement and upkeep of the public spaces (such as the lounges, TV room, game room, outside on 5th Floor, and hang-out area in the Commons) throughout McMurtry. We focus on creating a pleasant atmosphere throughout the college with rooms and amenities all students can utilize. The Amenities Committee strives to implement long-lasting enhancements that can be enjoyed by Murts for years to come!  </p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
        <tbody>
      <tr><td>Raleigh Anderson</td><td class="email" id="raleigh.s.anderson"></td></tr>
      <tr><td>Nick Mallas</td><td class="email" id="nick.mallas"></td></tr>
      <tr><td>Daniel Zdeblick</td><td class="email" id="daniel.j.zdeblick"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

