<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Associates</h3>
      <p>The Associates Committee serves as a liaison between McMurtry's students and associates. McMurtry associates are Rice faculty as well as adult professionals in the Houston area who are associated with Rice. They serve as mentors, friends, academic advisers, and general resources for students. The Associates Committee hosts intellectual events, monthly lunches, study breaks, holiday events, and a formal Associates' Night each semester. The committee also organizes O-week group lunches with associates, as well as a pre-O-week reception and dinner. </p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Mackenzie Nettlow</td><td class="email" id="mackenzie.l.nettlow"></td></tr>
      <tr><td>Vicky Yang</td><td class="email" id="vicky.yang"></td></tr>
      </tbody></table>

    </div>
  </div>
</div>

