<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Beer Bike</h3>
      <p>Beer Bike. Some say it's the best day of the year. Others say it's the best day of their lives (with the exception of the other Beer Bikes they were fortunate enough to attend). The Beer Bike Committee is in charge of making this monumentous day a reality for all of McMurtry to enjoy. Whether it be assisting the Biking or Chugging Teams, organizing water balloon filling, or rounding people up for an epic jack on… Duncan (of course) – there is something for everyone to do!</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Rachel Marren</td><td class="email" id="rachelmarren"></td></tr>
      <tr><td>Jessica Kelly</td><td class="email" id="jessica.kelly"></td></tr>
      <tr><td>Maddy Adams</td><td class="email" id="maddy.adams"></td></tr>
      <tr><td>Lauren Rutherford</td><td class="email" id="lauren.m.rutherford"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

