<title> Budget </title>
<div class="col-md-12">
<h1> McMurtry College Budget </h1>
<p>Each year, McMurtry receives money from the university to benefit the entire college community.<p>
<br>
<h3 class="center">McMurtry College Budget 2013-2014</h3>
<p>The pie chart below details how our overall budget of $45,354 will be divided for the 2013-2014 school year. The sections labeled <strong>Fall Semester</strong> and <strong>Spring Semester</strong> refer to the committee budgets. These portions are broken out further down on the page.</p>
</div>
<div id="fullVisualization_div" class="col-md-12" style="height:500px;"></div>
<div class="span12">
<h3 class="center">McMurtry College Fall '13 Semester Budget </h3>
</div>
<div id="fallVisualization_div" class="col-md-12" style="height:850px;"></div>
<div class="col-md-12">
<h3 class="center">McMurtry College Spring '14 Semester Budget </h3>
<p class="center">The budget for Spring '14 will be determined at the beginning of the semester.</p>

</div>