
<div class="col-md-12">
	<h1>Committees</h1>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Social Committees <span class="subtitle">Prime Minister</span></h3>
		</div>
		<div class="panel-body" id="pmCommittees">
				
		</div>
		
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Facilities Committees <span class="subtitle">Internal Vice President</span></h3>
		</div>
		<div class="panel-body" id="ivpCommittees">

		</div>

	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Inter-College Committees <span class="subtitle">External Vice President</span></h3>
		</div>
		<div class="panel-body" id="evpCommittees">

		</div>

	</div>
</div>