<div class="col-md-12">
  <h1> McMurtry Constitution and By-Laws </h1>

	<p> The following documents guide the functions of the McMinistry. </p>



<table class="table table-hover">
	<thead>
		<tr>
			<th> Document </th>
			<th> Last Modified </th>
			<th> Download </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Constitution </td>
			<td> October 22, 2013 </td>
			<td> <span class="glyphicon glyphicon-download"></span> <a href="/assets/docs/mcministry/102213_mcm_constitution.pdf">  Download </a> </td>
		</tr>
		<tr>
			<td> General By-Laws </td>
			<td> October 22, 2013 </td>
			<td> <span class="glyphicon glyphicon-download"></span> <a href="/assets/docs/mcministry/102213_mcm_bylaws.pdf">  Download </a> </td>
		</tr>
		<tr>
			<td> Housing By-Laws </td>
			<td> February 17, 2015 </td>
			<td>  <span class="glyphicon glyphicon-download"></span> <a href="/assets/docs/mcministry/housing_bylaws.pdf">  Download </a> </td>
		</tr>
		<tr>
			<td> Parking By-Laws </td>
			<td> January 28, 2014 </td>
			<td> <span class="glyphicon glyphicon-download"></span> <a href="/assets/docs/mcministry/parking_bylaws.pdf"> Download </a> </td>
		</tr>
		<tr>
			<td> College Court Code of Procedures </td>
			<td> In Progress </td>
			<td> <!--<a href="/assets/docs/mcministry/102213_mcm_bylaws.pdf"> <span class="glyphicon glyphicon-download"></span> Download </a> --></td>
		</tr>

	</tbody>

</table>

</div>
