
<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Culturals </h3>
      <p>
      The McMurtry Cultural Committee exists to engage students in the diversity of the Houston community. Currently, Culturals subsidizes ethnic restaurants along the METRO-rail, provides themed study breaks, and is responsible for the college Hookah, amongst other fascinating cultural things. The committee also facilitates opportunities for free events and shows in Houston through a liason with RPC. Here mostly to provide McMurtry with free food and concerts, the Cultural Committee ensures McMurtry is never short of fun things to do both within and beyond the hedges. </p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Seth Berggren</td><td class="email" id="seth.k.berggren"></td></tr>
      <tr><td>Lisha Huang</td><td class="email" id="lisha.huang"></td></tr>
      <tr><td>Vy Tran</td><td class="email" id="vy.t.tran"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

