<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Elections</h3>
      <p>Empowering speeches, lofty promises, and rigorous campaigning are as much a part of running for President as they are for the McMinistry.  Sadly, though, none of this would be possible without the Elections Committee. With multiple elections taking place throughout the year, the Elections Committee ensures that McMurtry’s elections run smoothly and take place in a timely manner.  It is the Elections Committee’s goal to encourage every Murt to vote so the elected officials represent the college as a whole.  </p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Patrick Dunphy</td><td class="email" id="pdunphy"></td></tr>
      </tbody></table>

    </div>
  </div>
</div>

