<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Environmental</h3>
      <p>The Environmental Committee exists at McMurtry to keep the college's effect on Earth in the minds of every Murt. This committee aims to help raise awareness about the little things that everyone can do to reduce the college's overall environmental impact.</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Kate Nicholson</td><td class="email" id="kate.nicholson"></td></tr>
      <tr><td>Laura Nicholson</td><td class="email" id="laura.p.nicholson"></td></tr>
      </tbody></table>

    </div>
  </div>
</div>

