<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>External Socials</h3>
      <p>External Socials are simply put, very very social. We plan events that feature Murts interacting with other colleges, including McMurtry's public party and Pub night. Our goal is to create activities that every Murt would love to participate in and to find ways to make sure every member of our college feels connected to the community by simply doing FUN STUFF. We are always ready to hear any input that anyone might have, and we cannot wait to make this an amazing year! </p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Ari Brown</td><td class="email" id="alb11"></td></tr>
      <tr><td>Jeh Bains</td><td class="email" id="jeh.s.bains"></td></tr>
      <tr><td>Emma Baker</td><td class="email" id="emma.m.baker"></td></tr>
      <tr><td>Anna Zuo</td><td class="email" id="anna.zuo"></td></tr>
      </tbody></table>

    </div>
  </div>
</div>

