<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Internal Socials</h3>
      <p>The Internal Socials committee; a group dedicated to fostering McMurtry spirit, bonding, and fun. But more importantly they're dedicated to keeping McMurtry studying as little as possible. The committee puts on various social events throughout the year including, but not limited to board game and movie nights, Fridays in the Quad, social mixer events and McSkate.</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Isabel Deakins</td><td class="email" id="isabel.h.deakins"></td></tr>
      <tr><td>Steve Duke</td><td class="email" id="stephen.c.duke"></td></tr>
      <tr><td>Will Eldridge</td><td class="email" id="wre1"></td></tr>
      </tbody></table>
      
    </div>
  </div>
</div>

