<div class="span12">
  <h1 class="heading-huge"> McMinistry Members </h1>
  <h3>Executive Council</h3>
  <table class="table">
    <tbody>
      <tr>
        <td >
          <h6>President</h6>
          <a rel="tooltip" title="pja1@">Peter Abraham '14 </a>
        </td>
        <td>
          <img src="assets/img/profiles/ec/president.jpg" alt=""/>
        </td>
        <td >
          <h6>Vice President</h6>
          <a rel="tooltip" title="esr3@">Emily Robinson '14</a>
        </td>
        <td>
          <img src="assets/img/profiles/ec/vice_president.jpg" alt=""/>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Prime Minister</h6>
          <a rel="tooltip" title="acd4@">Aaron Daniels '13</a>
        </td>
        <td>
          <img src="assets/img/profiles/ec/prime_minister.jpg" alt=""/>
        </td>
        <td >
          <h6>Treasurers</h6>
          <a rel="tooltip" title="jka1@">Jordan Ashcraft '14</a> |
          <a rel="tooltip" title="tcm4@">Tristanne Mock '14</a>

        </td>
        <td>
          <img src="assets/img/profiles/ec/treasurers.jpg" alt=""/>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Secretaries</h6>
          <a rel="tooltip" title="mcmsecretary@gmail">Tyler Woods '15</a> |
          <a rel="tooltip" title="mcmsecretary@gmail">Maya Carrillo '13 </a>

        </td>
        <td>
          <img src="assets/img/profiles/ec/secretaries.jpg" alt=""/>
        </td>
        <td></td><td></td>
      </tr>
    </tbody>
  </table>

  <h3>Floor Representatives</h3>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <h6>2nd Floor</h6>

          <div class="padding-left"> Yellow: </div> <a rel="tooltip" title="Graham.Eldridge@">Graham Eldridge</a><br>
          <div class="padding-left"> Orange: </div> <a rel="tooltip" title="ccn1@">Christa Nnoromele</a><br>

        </td>

        <td >
          <h6>3rd Floor</h6>

          <div class="padding-left"> Yellow: </div> <a rel="tooltip" title="jyg1@">Jessica Gan</a><br>
          <div class="padding-left"> Orange: </div> <a rel="tooltip" title="klv4@">Katherine Van Leeuwen</a><br>

        </td>
        <td ><h6>4th Floor</h6>

          <div class="padding-left"> Yellow: </div> <a rel="tooltip" title="john.b.breen@">John Breen</a><br>
          <div class="padding-left"> Orange: </div> <a rel="tooltip" title="ryan.c.johnson@">Ryan Johnson</a><br>
          </td>
      </tr>
      <tr>
        <td ><h6>5th Floor</h6>

          <a rel="tooltip" title="faa1@">Farid Abu-Shamat</a><br>
          </td>
          <td ><h6>Off Campus</h6>

          <a rel="tooltip" title="sra2@">Spencer Arrasmith</a><br>
          <a rel="tooltip" title="slm3@">Sena McCrory</a><br>
          </td>
          <td ><h6>First Year Representatives</h6>

        	<a rel="tooltip" title="juan.s.cruz@">Juan Cruz</a><br>
          	<a rel="tooltip" title="alk2@">Andrea Kopczynski</a><br>
          	<a rel="tooltip" title="kate.nicholson@">Kate Nicholson</a><br>

          </td>
        </tr>
      </tbody>
    </table>

    <h3>Non-Voting Members</h3>
    <table class="table">
      <tbody><tr>
          <td ><h6>Chief Justice</h6>
            <a rel="tooltip" title="nll2@">Noah Lozada</a>
          </td>
          <td ><h6>SA Senator</h6>
            <a rel="tooltip" title="tnavran@">Trent Navran</a>
          </td>
        </tr>
        <tr>
          <td ><h6>RPC Representative</h6>

            <a rel="tooltip" title="shane.e.alpert@">Shane Alpert</a>

          </td>
          <td ><h6>Socials Coordinators</h6>

            <a rel="tooltip" title="bili.yin@">Bili Yin</a><br>
            <a rel="tooltip" title="robin.k.vest@">Robin Vest</a><br>

          </td>
        </tr>
        <tr>
          <td ><h6>Parliamentarian</h6>
            <a rel="tooltip" title="kelsey.a.pedersen@">Kelsey Pedersen</a>
          </td>
          <td ><h6>Historian</h6>
            <a rel="tooltip" title="zaz1@">Zoe Zalta</a>
          </td>
        </tr>
        <tr>
          <td ><h6>Honor Council Representative</h6>
            <a rel="tooltip" title="jfm4@">Jessica Mintz</a>
          </td>
          <td ><h6>At-Large Representative</h6>
            <a rel="tooltip" title="lena.e.silva@">Lena Silva</a>
          </td>
        </tr>
    </tbody></table>

  </div>

  <script>
    var img = sPlaceholder(100, 90);
    $(".img-placeholder").html(img);
  </script>
