<style>
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    
  </style>


<div class="row">
  <h1 class="heading-huge"> McMinistry Members </h1>
  <div class="col-md-12">
    <div id="ec" class="row row-mcministry">
  <h3>Executive Council</h3>
  
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>President</th>
          <td>Elizabeth Finley '16</td>
          <td class="email" id="Elizabeth.A.Finley"></td>
        </tr>
        <tr>
          <th>Prime Minister</th>
          <td>Isabel Deakins '17</td>
          <td class="email" id="Isabel.H.Deakins"></td>
        </tr>
        <tr>  
          <th>Internal Vice President</th>
          <td>Sawyer Knight '16</td>
          <td class="email" id="Sawyer.M.Knight"></td>
        </tr>
        <tr>
          <th>External Vice President</th>
          <td>Will Eldridge '16</td>
          <td class="email" id="Will.Eldridge"></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody> 
        <tr>
          <th rowspan="2">Secretaries</th>
          <td>Madison Blattel '18</td>
          <td class="email" id="mcmsecretary"></td>
        </tr>
        <tr>
          <td>Leah Sherman '18</td>
          <td class="email" id="mcmsecretary"></td>
        </tr>
        <tr>
          <th rowspan="2">Treasurers</th>
          <td>Farhan Kawsar '18</td>
          <td class="email" id="Farhan.Kawsar"></td>
        </tr>
        <tr>
          <td>Danyal Smani '18</td>
          <td class="email" id="Danyal.A.Smani"></td>
        </tr>

        <tr>
          <th>Chief Justice (Non-Voting)</th>
          <td>Kelly Tomasevich '17</td>
          <td class="email" id="Kelly.M.Tomasevich"></td>
        </tr>
        <tr>
          <th>SA Senator (Non-Voting)</th>
          <td>Mishi Jain '18</td>
          <td class="email" id="Mishi.Jain"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="pc" class="row row-mcministry">
  <h3>People's Council</h3>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>At Large Rep</th>
          <td>Madhuri Venkateswar</td>
          <td class="email" id="Madhuri.S.Venkateswar"></td>
        </tr>
        <tr>
          <th>5th Floor</th>
          <td>Anna Thomas</td>
          <td class="email" id="Anna.L.Thomas"></td>
        </tr>
        <tr>
          <th>Off Campus</th>
          <td>Bryan Bates</td>
          <td class="email" id="Bryan.C.Bates"></td>
        </tr>
        <tr>
          <td>Graham Eldridge</td>
          <td class="email" id="Graham.Eldridge"></td>
        </tr>
        </tr>
        <!--<tr>
          <th rowspan="3">First Year Representatives</th>
          <td>Emily Lisa</td>
          <td class="email" id="emily.k.lisa"></td>
        </tr>
        <tr>
          <td>Farhan Kawsar</td>
          <td class="email" id="fkawsar96"></td>
        </tr>
        <tr>
          <td>Walden Pemantle</td>
          <td class="email" id="walden.s.pemantle"></td>
        </tr>-->
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>2nd Orange</th>
          <td>Lenna Mendoza</td>
          <td class="email" id="Lenna.M.Mendoza"></td>
        </tr>
        <tr>
          <th>2nd Yellow</th>
          <td>Savion Lee</td>
          <td class="email" id="Savion.T.Lee"></td>
        </tr>
        <tr>
          <th>3rd Orange</th>
          <td>Jared Elinger</td>
          <td class="email" id="Jared.D.Elinger"></td>
        </tr>
        <tr>
          <th>3rd Yellow</th>
          <td>Sally Hodges-Copple</td>
          <td class="email" id="Sally.Hodges-Copple"></td>
        </tr>
        <tr>
          <th>4th Orange</th>
          <td>Charlie Greulich</td>
          <td class="email" id="Charlie.Greulich"></td>
        </tr>
        <tr>
          <th>4th Yellow</th>
          <td>Walden Pemantle</td>
          <td class="email" id="Walden.S.Pemantle"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="cab" class="row row-mcministry">
    <h3>McCabinet Members</h3>
    <div class="col-md-6">
      <table class="table table-hover">
       <tbody>
          <!--<tr>
            <th>RPC Representative</th>
            <td>Lisha Huang</td>
            <td class="email" id="Lisha.Huang"></td>
          </tr>-->
          <tr>
            <th>Honor Council Representative</th>
            <td>Jacob Schneckloth</td>
            <td class="email" id="Jacob.T.Schneckloth"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Parliamentarian</th>
            <td>Dorin Azerad</td>
            <td class="email" id="Dorin.N.Azerad"></td>
          </tr>
          <tr>
            <th>Historian</th>
            <td>Jessica Kelly</td>
            <td class="email" id="Jessica.Kelly"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<script>
 
</script>


  <script>
    var img = sPlaceholder(100, 90);
    $(".img-placeholder").html(img);
  </script>
