<style>
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    
  </style>


<div class="row">
  <h1 class="heading-huge"> McMinistry Members </h1>
  <div class="col-md-12">
    <div id="ec" class="row row-mcministry">
  <h3>Executive Council</h3>
  
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>President</th>
          <td>Elizabeth Finley '16</td>
          <td class="email" id="elizabeth.a.finley"></td>
        </tr>
        <tr>
          <th>Prime Minister</th>
          <td>Isabel Deakins '17</td>
          <td class="email" id="isabel.h.deakins"></td>
        </tr>
        <tr>  
          <th>Internal Vice President</th>
          <td>Sawyer Knight '16</td>
          <td class="email" id="sawyer.m.knight"></td>
        </tr>
        <tr>
          <th>External Vice President</th>
          <td>Will Eldridge '16</td>
          <td class="email" id="will.eldridge"></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody> 
        <tr>
          <th rowspan="2">Secretaries</th>
          <td>Magen Eissenstat '17</td>
          <td class="email" id="mcmsecretary"></td>
        </tr>
        <tr>
          <td>Annie Nordhauser '17</td>
          <td class="email" id="mcmsecretary"></td>
        </tr>
        <tr>
          <th rowspan="2">Treasurers</th>
          <td>Vicky Yang '17</td>
          <td class="email" id="Vicky.Yang"></td>
        </tr>
        <tr>
          <td>Shannon Wan '17</td>
          <td class="email" id="Shannon.Wan"></td>
        </tr>

        <tr>
          <th>Chief Justice (Non-Voting)</th>
          <td>Jared Elinger '16</td>
          <td class="email" id="Jared.D.Elinger"></td>
        </tr>
        <tr>
          <th>SA Senator (Non-Voting)</th>
          <td>Madhuri Venkateswar '17</td>
          <td class="email" id="Madhuri.S.Venkateswar"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="pc" class="row row-mcministry">
  <h3>People's Council</h3>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>At Large Rep</th>
          <td>Elizabeth Finley</td>
          <td class="email" id="eaf4"></td>
        </tr>
        <tr>
          <th>5th Floor</th>
          <td>Meredith George</td>
          <td class="email" id="Meredith.K.George"></td>
        </tr>
        <tr>
          <th>Off Campus</th>
          <td>Meron Fessahaie</td>
          <td class="email" id="Meron.S.Fessahaie"></td>
        </tr>
        <tr>
          <th rowspan="3">First Year Representatives</th>
          <td>Emily Lisa</td>
          <td class="email" id="emily.k.lisa"></td>
        </tr>
        <tr>
          <td>Farhan Kawsar</td>
          <td class="email" id="fkawsar96"></td>
        </tr>
        <tr>
          <td>Walden Pemantle</td>
          <td class="email" id="walden.s.pemantle"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>2nd Orange</th>
          <td>James Ephraim Griffith</td>
          <td class="email" id="James.E.Griffith"></td>
        </tr>
        <tr>
          <th>2nd Yellow</th>
          <td>Bryan Bates</td>
          <td class="email" id="Bryan.C.Bates"></td>
        </tr>
        <tr>
          <th>3rd Orange</th>
          <td>Cesar Udave</td>
          <td class="email" id="Cesar.A.Udave"></td>
        </tr>
        <tr>
          <th>3rd Yellow</th>
          <td>Laura Ruthig-Poon</td>
          <td class="email" id="Laura.W.Ruthig-Poon"></td>
        </tr>
        <tr>
          <th>4th Orange</th>
          <td>Will Eldridge </td>
          <td class="email" id="wre1"></td>
        </tr>
        <tr>
          <th>4th Yellow</th>
          <td>Victoria Yuan</td>
          <td class="email" id="victoria.yuan"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="cab" class="row row-mcministry">
    <h3>McCabinet Members</h3>
    <div class="col-md-6">
      <table class="table table-hover">
       <tbody>
          <tr>
            <th>RPC Representative</th>
            <td>Lisha Huang</td>
            <td class="email" id="Lisha.Huang"></td>
          </tr>
          <tr>
            <th>Honor Council Representative</th>
            <td>Jacob Schneckloth</td>
            <td class="email" id="jacob.t.schneckloth"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Parliamentarian</th>
            <td>Dorin Azerad</td>
            <td class="email" id="Dorin.N.Azerad"></td>
          </tr>
          <tr>
            <th>Historian</th>
            <td>Jessica Kelly</td>
            <td class="email" id="jessica.kelly"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<script>
 
</script>


  <script>
    var img = sPlaceholder(100, 90);
    $(".img-placeholder").html(img);
  </script>
