<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Philanthropy</h3>
      <p>Enjoy volunteering but not sure you can make a long-term commitment? Want to spend time with other students while making an impact? The Philanthropy Committee encourages student engagement in the community and supports Houston organizations by organizing fun service opportunities both on and off campus throughout the year. They also hope to partner with other colleges and the Rice Service Council to coordinate large-scale events. </p>
      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Maddy Adams</td><td class="email" id="maddy.adams"></td></tr>
      <tr><td>Margeaux Epner</td><td class="email" id="margeaux.c.epner"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

