<div class="content-committee">
  <div class="span6">
    <div id="" class="pad">
      <h3>Programs</h3>
      <p>The Programs committee; a group dedicated to fostering McMurtry spirit, bonding, and fun. But more importantly they're dedicated to keeping McMurtry studying as little as possible. The committee puts on various social events throughout the year including, but not limited to board game and movie nights, social mixer events and McSkate. Have fun, stay safe, stay programs.<br />

      <strong> Contacts:</strong>
      <a rel="tooltip" title=" Nikita.J.Desai@">Niki Desai</a>,
      <a rel="tooltip" title=" sm41@">Supreeth Mannava</a>,
      <a rel="tooltip" title=" john.y.lee@">John Lee</a>
      </p>
    </div>
  </div>
</div>

