<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Senior</h3>
      <p>The senior committee is responsible for planning and hosting fun events for the senior class throughout the year.  Various events include the champagne toast kickoff, wine and cheese tasting, off-campus bar hopping, senior tailgates, and other senior-exclusive events.  The goal of the committee is to ensure that all McMurtry seniors truly enjoy their last year with the college family.</p>
    <table class="table table-hover">
      <thead>
        <th colspan="2">Contacts</th>
      </thead>
    <tbody>
    <tr><td>John Breen</td><td class="email" id="john.b.breen"></td></tr>
    <tr><td>Kirk Kudelka</td><td class="email" id="kirk.d.kudelka"></td></tr>
    <tr><td>Katie Van Leeuwen</td><td class="email" id="katherine.l.van.leeuwen"></td></tr>
    <tr><td>Mya Wilkes</td><td class="email" id="mya.k.wilkes"></td></tr>
    </tbody></table> 
    </div>
  </div>
</div>

