<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Senior</h3>
      <p>The senior committee is responsible for planning and hosting fun events for the senior class throughout the year.  Various events include the champagne toast kickoff, wine and cheese tasting, off-campus bar hopping, senior tailgates, and other senior-exclusive events.  The goal of the committee is to ensure that all McMurtry seniors truly enjoy their last year with the college family.</p>
    <table class="table table-hover">
      <thead>
        <th colspan="2">Contacts</th>
      </thead>
    <tbody>
    <tr><td>Margeaux Epner</td><td class="email" id="margeaux.c.epner"></td></tr>
    <tr><td>Muhammad Harirah</td><td class="email" id="muhammad.h.harirah"></td></tr>
    <tr><td>Lauren Rutherford</td><td class="email" id="lauren.m.ruthrford"></td></tr>
    </tbody></table> 
    </div>
  </div>
</div>

