<div class="content-committee">
  <div class="span6">
    <div id="" class="pad">
      <h3>Socials</h3>
      <p>Socials are simply put, very very social. We are Robin Vest and Bili Yin, two juniors here at McMurtry who are dedicated to make this college the most fun, exciting and friendly place EVER! Basically we plan events like Friday afternoons in the quad, karaoke nights, bingo nights (HINT these last two are possible upcoming features for the year) McMurtry's public party and Pub night. Our goal is to create activities that every Murt would love to participate in and to find ways to make sure every member of our college feels connected to the community by simply doing FUN STUFF. We are always ready to hear any input that anyone might have, and we cannot wait to make this an amazing year! <br />

      <strong> Contacts:</strong>
      <a rel="tooltip" title=" aby3@">Bili Yin</a>,
      <a rel="tooltip" title="Robin.K.Vest@">Robin Vest</a>
      </p>
    </div>
  </div>
</div>

