<div class="content-committee">
  <div class="span6">
    <div id="" class="pad">
      <h3>Spirit</h3>
      <p>The Spirit Committee is in charge of giving life to McMurtry! This committee is relatively flexible, if you have an idea of something that would improve McMurtry's morale then let your voice be heard! Some things the Spirit committee is involved in include making birthday posters, ordering college swag, and planning McMurtry Day. Chances are, if it's spirited and at McMurtry, then it's the Spirit Committee!<br />

      <strong> Contacts:</strong>
      <a rel="tooltip" title="emh2013@gmail">Erin Hartman</a>,
      <a rel="tooltip" title="jkredwine@gmail">Josh Redwine</a>
      </p>
    </div>
  </div>
</div>

