<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Intramural Sports</h3>
      <p>The Intramural Sports committee serves several athletics-related roles, with the most important being getting Murts involved! By serving as liaison between McMurtry and IMS (the rec center), the sports committee works to promote both college and intramural sports, help people sign up, and represent McMurtry to IMS. Committee members also work with powerpuff (yay powderpuff!), work to get competing Murts in legit athletic swag, and generally love sports themselves.</p>
      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Joseph Buenrostro</td><td class="email" id="joseph.buenrostro"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

