<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Technology</h3>
      <p>The Technology Committee is responsible for everything from maintaining our computer lab to all of the A/V equipment in the Commons and PDR and this very website. The roles on this committee include Director of Technology, Webmaster, Computer Lab Associate, and Technology Associate.</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Nick Frederking</td><td class="email" id="nick.frederking"></td></tr>
      </tbody></table>
      </div>
  </div>
</div>

