<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Theatre</h3>
      <p>The theater committee is dedicated to both hosting quality theater
shows at McMurtry, including productions with Kinda Sketchy and the
Rice Players as well as its own "Theater in the Round".  We hope to
create new theater traditions at McMurtry, such as hosting workshops
on auditioning and directing musicals and plays. Most of all we want
to facilitate the creativity of students at McMurtry and help each and
every one on their journey of discovery in the theatrical world.
</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Kiera Whalen</td><td class="email" id="kiera.p.whalen"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

