<div class="content-committee">
  <div class="col-md-6">
    <div id="" class="pad">
      <h3>Varsity Sports Liaison</h3>
      <p>Varsity Sports Liaisons are responsible for promoting Rice athletics
at McMurtry. VSLs work with the Athletic Department to communicate
Rice athletic events and promotions to the college, as well as
organize tailgates for Murts to enjoy games together. It is our goal
to make sure that Murts are always informed and excited about upcoming
varsity athletic events, so if you have any ideas about ways we can do
so, let us know!</p>

      <table class="table table-hover">
        <thead>
          <th colspan="2">Contacts</th>
        </thead>
      <tbody>
      <tr><td>Evan Neustater</td><td class="email" id="ern1"></td></tr>
      <tr><td>Jacob Schneckloth</td><td class="email" id="jacob.t.schneckloth"></td></tr>
      </tbody></table>
    </div>
  </div>
</div>

