<title> Master Application </title>

<style>
	#downloadBtn:visited {
		color: #fff;
	}
</style>

<div class="col-md-12">
	<h2> Application for the Mastership of McMurtry College </h2>
	<p> The application for the Mastership of McMurtry College can be downloaded from this page. Applications are due at 5:00pm on Friday, October 10th - more detailed instructions are contained in the application. Please explore our website and learn a little more about McMurtry College!
	</p>
	<a href="assets/docs/McMurtryApplication.pdf" target="_blank" type="button" id="downloadBtn" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-file"></span> Download Application</a>
</div>