
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> McMurtry Associates</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>McMurtry associates are Rice faculty as well as adult professionals in the Houston area who are associated with Rice. They serve as mentors, friends, academic advisors, and general resources for students. Associates participate in McMurtry life by hosting O-Week group dinners and outings, providing advice on careers or college life, and serving as guides to life after Rice.</p>


<h3>Faculty Associates</h3>
<p>These associates are Rice professors passionate about helping students have the best experience at college, both inside and outside the classroom. Use them as a source for academic or general college advice. Faculty associates also serve as faculty mentors and divisional advisors during O-Week and are the first point of contact for new students looking for advice from Rice professors.</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
     <tr>
      <td>Lisa Balabanlilar</td>
      <td>History (Associate Professor)</td>
      <td class="email" id="balabanlilar"></td>
     </tr>
     <tr>
      <td>Elizabeth Barre</td>
      <td>Center for Teaching Excellence (Assistant Director) and English Lecturer</td>
      <td class="email" id="barre"></td>
     </tr>
     <tr>
      <td>Dominic Boyer</td>
      <td>Anthropology (Associate Professor)</td>
      <td class="email" id="dcb2"></td>
     </tr>
     <tr>
      <td>Tei Carpenter</td>
      <td>Architecture</td>
      <td class="email" id="tfc2"></td>
     </tr>
     <tr>
      <td>Royce Carroll</td>
      <td>Political Science (Ass’t Professor)</td>
      <td class="email" id="rcarroll"></td>
     </tr>
     <tr>
      <td>Daniel Cohen</td>
      <td>History (Assoc Prof)</td>
      <td class="email" id="gdcohen"></td>
     </tr>
     <tr>
      <td>Justin Esarey</td>
      <td>Political Science (Ass’t Professor)</td>
      <td class="email" id="justin.e.esarey"></td>
     </tr>
     <tr>
      <td>Josh Eyler</td>
      <td>Dir., Center For Teaching Excellence, Adjunct Assoc. Prof., Humanities (English specialty)</td>
      <td class="email" id="jeyler"></td>
     </tr>
     <tr>
      <td>Cymene Howe</td>
      <td>Anthropology (Assistant Professor)</td>
      <td class="email" id="cymene"></td>
     </tr>
     <tr>
      <td>Kurt Kasper</td>
      <td>Assistant Professor in the Department of Orthodontics at The University of Texas Health Science Center</td>
      <td class="email" id="kurt.kasper"></td>
     </tr>
     <tr>
      <td>Steven Lewis</td>
      <td>Baker Institute (Transnational China Fellow); Chao Ctr Asian Studies (Assoc. Dir., Prof in the Practice)</td>
      <td class="email" id="swlewis"></td>
     </tr>
     <tr>
      <td>Gene Levy</td>
      <td>Astrophysics (Andrew Hays Buchanan Prof.)</td>
      <td class="email" id="ehl"></td>
     </tr>
     <tr>
      <td>Qilin Li</td>
      <td>Civil Engineering (Associate Prof)</td>
      <td class="email" id="qilin.li"></td>
     </tr>
     <tr>
      <td>Peter Loewen</td>
      <td>Shepherd School of Music (Associate Professor)</td>
      <td class="email" id="pvloewen"></td>
     </tr>
     <tr>
      <td>Carrie Masiello</td>
      <td>Earth Science (Assoc Professor)</td>
      <td class="email" id="masiello"></td>
     </tr>
     <tr>
      <td>Seiichi Matsuda</td>
      <td>Chemistry (Professor/Chair)</td>
      <td class="email" id="matsuda"></td>
     </tr>
     <tr>
      <td>James McLurkin</td>
      <td>Computer Science (Assistant Professor)</td>
      <td class="email" id="jmclurkin"></td>
     </tr>
     <tr>
      <td>Erzsébet Merényi</td>
      <td>Statistics (Research Professor), Electrical and Computer Engineering (Research Professor)</td>
      <td class="email" id="erzsebet"></td>
     </tr>
     <tr>
      <td>Colette Nicolaou</td>
      <td>Psychology (Lecturer)</td>
      <td class="email" id="colette.nicolaou"></td>
     </tr>
     <tr>
      <td>Ed Segner</td>
      <td>Civil Engineering Mgmt (Prof. in the Practice)</td>
      <td class="email" id="eg.segner"></td>
     </tr>
     <tr>
      <td>Tony Varilly Alvarado</td>
      <td>Math (Assistant Professor)</td>
      <td class="email" id="varilly"></td>
     </tr>
     <tr>
      <td>Joff Silberg</td>
      <td>Biochemistry and Cell Biology/Bioengineering (Assoc. Professor)</td>
      <td class="email" id="joff"></td>
     </tr>
     <tr>
      <td>Neyran Turan</td>
      <td>Assistant Professor, School of Architecture</td>
      <td class="email" id="fnt1"></td>
     </tr>
     <tr>
      <td>Weiwei Zhong</td>
      <td>Biochemistry and Cell Biology (Ass't Professor)</td>
      <td class="email" id="weiwei.zhong"></td>
     </tr>
 </tbody>
</table>
</div>

<div class="col-md-12">
    <h3>University Associates</h3>
    <p>These are associates who work for Rice in areas such as Admissions, Financial Aid, Academic Advising and more! They are here to offer advice on anything from the Rice experience to  career paths to practical life skills.</p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupation</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
     <tr>
      <td>Kate Abad</td>
      <td>Director, Student Center</td>
      <td class="email" id="kate.abad"></td>
     </tr>
     <tr>
      <td>Madalina Akli</td>
      <td>Asst Director of Fellowships and
      Undergrad Research</td>
      <td class="email" id="madalina"></td>
     </tr>
     <tr>
      <td>Boanerges Aleman- Meza</td>
      <td>Research Scientist, Biochemistry and Cell Biology</td>
      <td class="email" id="ba8"></td>
     </tr>
     <tr>
      <td>Allison Bahme</td>
      <td>Assistant Director of Enrollment Management Operations Center,
      Admissions</td>
      <td class="email" id="abahme"></td>
     </tr>
     <tr>
      <td>Keri Bas</td>
      <td>Web Editor/Marketing Specialist for Continuing Studies</td>
      <td class="email" id="Keri.Bas"></td>
     </tr>
     <tr>
      <td>Kelley Callaway</td>
      <td>Director of Student Media</td>
      <td class="email" id="kcallaway"></td>
     </tr>
     <tr>
      <td>Jackie Carrizales</td>
      <td>Staff assistant, Admissions office</td>
      <td class="email" id="jjc3"></td>
     </tr>
     <tr>
      <td>Lauren Cavallaro</td>
      <td>Director of Student Athlete Development</td>
      <td class="email" id="lc41"></td>
     </tr>
     <tr>
      <td>Dwight Edwards</td>
      <td>Pastor/author/motivational speaker</td>
      <td class="email" id="dwedwards26"></td>
     </tr>
     <tr>
      <td>Sarah Fischer</td>
      <td>Associate Director, Admissions</td>
      <td class="email" id="sarah.a.fischer"></td>
     </tr>
     <tr>
      <td>Dee Garza</td>
      <td>Department Coordinator for Rice Bands</td>
      <td class="email" id="deegarza"></td>
     </tr>
     <tr>
      <td>Sandra Goins</td>
      <td>Staff Assistant, Admissions office</td>
      <td class="email" id="sandrag"></td>
     </tr>
     <tr>
      <td>Lauren Hanson</td>
      <td>Joint Campus Minister (Bridges International)</td>
      <td class="email" id="LaurenbHanson"></td>
     </tr>
     <tr>
      <td>Cory Kennedy</td>
      <td>Rice Director of Government Relations</td>
      <td class="email" id="cory.kennedy"></td>
     </tr>
     <tr>
      <td>Stephanie Linder</td>
      <td>Director of Development</td>
      <td class="email" id="stephanie.e.linder"></td>
     </tr>
     <tr>
      <td>Neville Mann</td>
      <td>Arborist</td>
      <td class="email" id="neville.t.mann"></td>
     </tr>
     <tr>
      <td>Mark Moll</td>
      <td>Research Scientist, Computer Science</td>
      <td class="email" id="mmoll"></td>
     </tr>
     <tr>
      <td>Von Nguyen</td>
      <td>Special Projects Coordinator, Office of International Students and Scholars</td>
      <td class="email" id="vn3"></td>
     </tr>
     <tr>
      <td>Michelle Passo</td>
      <td>CCD Assistant Director</td>
      <td class="email" id="mip2"></td>
     </tr>
     <tr>
      <td>Chan Pham</td>
      <td>Accountant, Bio Engineering</td>
      <td class="email" id="chan.d.pham"></td>
     </tr>
     <tr>
      <td>Linda Thrane</td>
      <td>VP of Public Affairs</td>
      <td class="email" id="thrane"></td>
     </tr>
     <tr>
      <td>Nader Wadie</td>
      <td>Joint Campus Minister (Bridges International)</td>
      <td class="email" id="nader.a.wadie"></td>
     </tr>
     <tr>
      <td>Daniel Williamson</td>
      <td>Managing Director, OpenStax </td>
      <td class="email" id="dcwill"></td>
     </tr>
     <tr>
      <td>Kelly Windham</td>
      <td>Assistant Director, Community Involvement Center (education background)</td>
      <td class="email" id="kellywindham"></td>
     </tr>
     <tr>
      <td>Angela Young</td>
      <td>Fundraiser (Major Gifts)</td>
      <td class="email" id="angelay"></td>
     </tr>        
     </tbody>
    </table>

    
    
    
    
    
    
    
    </div>

<div class="col-md-12">
    
    <h3>Community Associates</h3>
    <p>These are Rice alums or other adults from the Houston community, who work in a variety of professions such as business, medicine, education and more. Ask them for career advice or approach them with any questions about college or life in the real-world!</p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
     <tr>
      <td>Richard Barker and Lauren Farr Barker</td>
      <td class="email" id="rbarker"></td>
     </tr>
     <tr>
      <td>Patricia Brogdon-Gómez and Fernando Gómez-Frutos</td>
      <td class="email" id="pbrogdon"></td>
     </tr>
     <tr>
      <td>Jack Dawson and Mary S. Dawson</td>
      <td class="email" id="jackrdawson"></td>
     </tr>
     <tr>
      <td>Suzanne Day and Peter Day</td>
      <td class="email" id="sday"></td>
     </tr>
     <tr>
      <td>Bill Dixon and Reeta Achari</td>
      <td class="email" id="wildbill_220"></td>
     </tr>
     <tr>
      <td>Theo Mallinson and Michelle Venable</td>
      <td class="email" id="mandt"></td>
     </tr>
     <tr>
      <td>Howard Pollack</td>
      <td class="email" id="hpollack"></td>
     </tr>
     <tr>
      <td>Jordie Poncy</td>
      <td class="email" id="joponcy"></td>
     </tr>
     <tr>
      <td>Jonathan Ramsay</td>
      <td class="email" id="jrams33"></td>
     </tr>
     <tr>
      <td>Joe Schipani and Katharine Coles</td>
      <td class="email" id="jschipani"></td>
     </tr>
     <tr>
      <td>Susannah Koontz Webb and George Webb</td>
      <td class="email" id="susannahrx"></td>
     </tr>
     <tr>
      <td>Geri Wood and Rick Scharchburg</td>
      <td class="email" id="Geri.l.wood"></td>
     </tr>
    </tbody>
    </table>
    
    
</div>
