<style>
	.heading-small {
		font-size: 11pt;
		font-weight: bold;
	}
	
	.nav > li > a {
		color: #612bc6;
		
	}
	
	.nav > li > a:hover {
		border-top-left-radius:2em;
		border-top-right-radius:2em;
	}
	
	.nav > li.active > a {
		background-color: #4c239f;
		color: white;
		border-top-left-radius:2em;
		border-top-right-radius:2em;
	}
	
	.nav > li.active > a:hover {
		background-color:#642ed5;
		color: white;
	}
	
	
	

</style>

<title> Adult Leadership </title>

<div class="col-md-12">
	
	<h1> Adult Leadership </h1>

	<ul class="nav nav-tabs nav-justified" role="tablist">
	  <li class="active"><a href="#masters" role="tab" data-toggle="tab"><span class="heading-small">Dereth and Karim</span> </br> <span class="subtitle">Masters</span></a></li>
	  <li><a href="#coordinator" role="tab" data-toggle="tab"><span class="heading-small">Tabitha</span> </br> <span class="subtitle">College Coordinator</span></a></li>
	  <li><a href="#hrf" role="tab" data-toggle="tab"><span class="heading-small">Brian and Alana</span> </br> <span class="subtitle">Head Resident Fellows</span></a></li>
	  <li><a href="#ra2" role="tab" data-toggle="tab"><span class="heading-small">Simon and Ozge</span> </br> <span class="subtitle">2nd Floor RAs</span></a></li>
	  <li><a href="#ra3" role="tab" data-toggle="tab"><span class="heading-small">Brad</span> </br> <span class="subtitle">3rd Floor RA</span></a></li>
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="masters">
		  
	  </div>
	  <div class="tab-pane fade" id="coordinator">
	 </div>
	  <div class="tab-pane fade" id="hrf">
	</div>
	  <div class="tab-pane fade" id="ra2">
		  	  </div>
	  <div class="tab-pane fade" id="ra3">
		  
	  </div>
	</div>
	
</div>