
<div id="blunt" class="span12 content-people">

    <h3 class="heading-medium"> Brad Blunt
      <span class="subtitle">Resident Associate</span>
    </h3>

    <img src="assets/img/Brad.jpg" height="270" width="210" class="right rectangle" alt="">

<p>Born in Ohio, raised in Illinois, and educated in Iowa, Brad never expected to leave the Midwest, until a voice teacher invited him to venture down to Texas for a while. That was in 1996. Except for a stint in Colorado for four years, Brad has been a Texan ever since. He is an Assistant Director of Academic Advising at Rice, helping students navigate all of the amazing academic opportunities found here. He works especially closely with transfer students and those interested in pre-health professions and pre-law.
</p>
<p>Brad’s passion is music. He has sung for several seasons in the chorus of Houston Grand Opera, which has allowed him to be a pirate, a slave, a gypsy, a marauding assassin and a Parisian flower vendor in the past year alone. He also loves acting and a few times each year you’ll see him on the local PBS station encouraging viewers to part with their money. In addition to music and performing, Brad enjoys reading, going to baseball games, hiking, and ice cream. Brad REALLY likes ice cream.
</p>
<p>Jonah and Sophie live most of the time in New Braunfels, Texas, which is THE place to go tubing down the river, if you didn’t already know. Jonah is entering 4th grade. Like his dad, he loves reading and also math, baseball, and video games. If you know anything about Minecraft, you’ll have a friend for life in Jonah. Sophie is the family animal lover and artist, and she is following in her father’s footsteps by always trying to be the biggest ham in the room. They can’t wait to begin the adventure of living on campus!
</p>
<p>Don’t be shy about stopping by Brad’s place on the 3rd floor if you want to relax, talk, or indulge in some frozen treats!
</p>

    <ul class="list-group contact-info">
      <li class="list-group-item disabled">Contact Information</li>
      <li class="list-group-item">Brad Blunt, Office of Academic Advising, <span class="email" id="bblunt"></span></li>
    </ul>

</div>
