<title> McMurtry College Court </title>
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> McMurtry College Court</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>The McMurtry Court is tasked with the responsibility of helping to keep McMurtry a safe and fair place to live for all of its Murts. We are responsible for dealing with code of conduct issues and other complaints within McMurtry. We serve as a liason with SJP and RUPD to help correct and eliminate issues before needing RUPD or SJP (Student Judicial Programs) to intervene. The Court has experience with a large number of different issues, ranging from noise complaints to seeking medical help if a student is in danger, so we can assist with finding the help the student needs. The justices are always on call and serve as a great resource for all of the members of McMurtry.</p>
  <h4>Current Justices</h4>
  <table class="table table-hover">
      <thead>
          <tr>
              <th></th>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Chief Justice</td>
              <td>Jared Elinger</td>
              <td>(832) 656-0444</td>
              <td class="email" id="jde5"></td>
          </tr>
          <tr>
              <td rowspan="7">Associate Justices</td>
              <td>Sanjiv Gopalkrishnan</td>
              <td>(832) 744-9667</td>
              <td class="email" id="svg1"></td>
          </tr>
          <tr>
              <td>Kyle Giubbini</td>
              <td>(541) 743-3868</td>
              <td class="email" id="kjg3"></td>
          </tr>
          <tr>
              <td>Kirk Kudelka </td>
              <td>(713) 826-6776</td>
              <td class="email" id="kdk2"></td>
          </tr>
          <tr>
              <td>Giray Ozseker</td>
              <td>(832) 691-6960</td>
              <td class="email" id="go4"></td>
          </tr>
          <tr>
              <td>Michael Portal</td>
              <td>(281) 840-0775</td>
              <td class="email" id="map16"></td>
          </tr>
          <tr>
              <td>Rachel Resnick</td>
              <td>(201) 230-0087</td>
              <td class="email" id="rdr2"></td>
          </tr>
          <tr>
              <td>Kelly Tomasevich</td>
              <td>(203) 848-9256</td>
              <td class="email" id="kmt6"></td>
          </tr>
      </tbody>
  </table>


</div>
