<title> McMurtry College Court </title>
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> McMurtry College Court</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>The McMurtry Court is tasked with the responsibility of helping to keep McMurtry a safe and fair place to live for all of its Murts. We are responsible for dealing with code of conduct issues and other complaints within McMurtry. We serve as a liason with SJP and RUPD to help correct and eliminate issues before needing RUPD or SJP (Student Judicial Programs) to intervene. The Court has experience with a large number of different issues, ranging from noise complaints to seeking medical help if a student is in danger, so we can assist with finding the help the student needs. The justices are always on call and serve as a great resource for all of the members of McMurtry.</p>
  <h4>Current Justices</h4>
  <table class="table table-hover">
      <thead>
          <tr>
              <th></th>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Chief Justice</td>
              <td>Kelly Tomasevich</td>
              <td>(203) 848-9256</td>
              <td class="email" id="kmt6"></td>
          </tr>
          <tr>
              <td rowspan="7">Associate Justices</td>
              <td>Matt Adrianowycz</td>
              <td>(440) 391-9606</td>
              <td class="email" id="maa14"></td>
          </tr>
          <tr>
              <td>Andrew Brooks</td>
              <td>(859) 396-9898</td>
              <td class="email" id="agb3"></td>
          </tr>
          <tr>
              <td>Stephen Hannan</td>
              <td>(707) 217-3687</td>
              <td class="email" id="sgh2"></td>
          </tr>
          <tr>
              <td>Albert Nabiullin/td>
              <td>(601) 602-5025</td>
              <td class="email" id="an22"></td>
          </tr>
          <tr>
              <td>Laura Nicholson</td>
              <td>(651) 492-0639</td>
              <td class="email" id="lpn1"></td>
          </tr>
          <tr>
              <td>Giray Ozseker</td>
              <td>(832) 691-6960</td>
              <td class="email" id="go4"></td>
          </tr>
          <tr>
              <td>Rachel Resnick</td>
              <td>(201) 230-0087</td>
              <td class="email" id="rdr2"></td>
          </tr>
      </tbody>
  </table>


</div>
