<title> Divisional Advisors </title>
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> Divisional Advisors</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>McMurtry Divisonal Advisors are Rice faculty who serve as mentors, friends, academic advisors, and general resources for students.</p>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Academic School</th>
              <th>Name</th>
              <th>Department</th>
              <th>Email</th>
              <th>Office</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Engineering</td>
              <td>Erzsebet Merenyi</td>
              <td>Statistics, Electrical and Computer Engineering</td>
              <td class="email" id="erzsebet"></td>
              <td>Duncan Hall 2040</td>
          </tr>
        <tr>
            <td>Humanitites</td>
            <td>Lisa Balabanlilar</td>
            <td>History</td>
            <td class="email" id="balabanlilar"></td>
            <td>314 Humanities</td>
        </tr>
        <tr>
            <td>Natural Sciences</td>
            <td>Dereth Phillips</td>
            <td>Biochemistry and Cell Biology</td>
            <td class="email" id="derethp"></td>
            <td>340 Anderson Biological Labs</td>
        </tr>
        <tr>
            <td>Social Sciences</td>
            <td>Ozge Gurcanli</td>
            <td>Psychology</td>
            <td class="email" id="ozge.gurcanli"></td>
            <td>Sewall Hall 456</td>
        </tr>
      </tbody>
  </table>


</div>
