<title> Academic Fellows </title>

<div id="content-people" class="col-md-12">
  <h1 class="heading-medium"> Academic Fellows
    <span class="subtitle"></span>
</h1>
<p>The McMurtry Fellows are here to enrich the intellectual atmosphere at McMurtry, whether it be through review sessions, tutoring, essay editing, or simple conversations at lunch.</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Major</th>
      <th>Email</th>
      <th>Year</th>
    </th>
  </thead>
  <tbody>
 <tr>
  <td>Cory Black</td>
  <td>Mechanical Engineering</td>
  <td class="email" id="cgb3"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Belicia Ding</td>
  <td>Biochemistry and Cell Biology, Psychology</td>
  <td class="email" id="bkd1"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>William Eldridge</td>
  <td>Civil and Environmental Engineering, French
  Studies</td>
  <td class="email" id="wre1"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>AJ Fenton</td>
  <td>Chemical Engineering</td>
  <td class="email" id="amf10"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Philip Frasse</td>
  <td>Biochemistry and Cell Biology</td>
  <td class="email" id="pmf3"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Vlad Ghita</td>
  <td>Physics</td>
  <td class="email" id="vbg1"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Ellen Hoang</td>
  <td>Economics, Managerial Studies</td>
  <td class="email" id="enh4"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Sam Hooper</td>
  <td>Music</td>
  <td class="email" id="snh2"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Patrick Huang<strong>*<strong></td>
  <td>Biochemistry and Cell Biology, English</td>
  <td class="email" id="pjh4"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>John Lee</td>
  <td>Biochemistry and Cell Biology</td>
  <td class="email" id="jyl3"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Terry Lin</td>
  <td>Computer Science</td>
  <td class="email" id="tl18"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Lindsey Morgan<strong>*</strong></td>
  <td>Chemical Engineering</td>
  <td class="email" id="lpm1"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Shilpa Nataraj</td>
  <td>Biochemistry and Cell Biology, Psychology</td>
  <td class="email" id="sn24"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Stefanie Saathoff</td>
  <td>English, Ecology and Evolutionary Biology</td>
  <td class="email" id="ss55"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Rebecca Satterfield</td>
  <td>Political Science</td>
  <td class="email" id="rls4"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Leah Topper</td>
  <td>Ecology and Evolutionary Biology</td>
  <td class="email" id="lbt2"></td>
  <td>2016</td>
 </tr>
 <tr>
  <td>Melissa Verne</td>
  <td>Asian Studies, Political Science</td>
  <td class="email" id="mrv3"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Tyler Woods</td>
  <td>Sociology</td>
  <td class="email" id="tmw5"></td>
  <td>2015</td>
 </tr>
 <tr>
  <td>Miki Xing</td>
  <td>Economics, Statistics</td>
  <td class="email" id="zx5"></td>
  <td>2016</td>
 </tr>
</tbody>
</table>
* Denotes Head Fellow
</div>
