<title> Academic Fellows </title>

<div id="content-people" class="col-md-12">
  <h1 class="heading-medium"> Academic Fellows
    <span class="subtitle"></span>
</h1>
<p>The McMurtry Fellows are here to enrich the intellectual atmosphere at McMurtry, whether it be through review sessions, tutoring, essay editing, or simple conversations at lunch.</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Email</th>
      <th>Year</th>
      <th>Edits Essays?</th>
    </th>
  </thead>
  <tbody>
 <tr>
  <td><strong>*</strong>Lindsey Morgan</td>
  <td>CHEM (Gem Chem)</td>
  <td class="email" id="lpm1"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>*Cody Tapscott</td>
  <td>PHYS (101/102)</td>
  <td class="email" id="cat10"></td>
  <td>2017</td>
  <td>YES</td>
 </tr>
 <tr>
  <td>Will Eldridge</td>
  <td>FREN</td>
  <td class="email" id="wre1"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>AJ Fenton</td>
  <td>CHEM (Orgo)</td>
  <td class="email" id="amf10"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Phillip Frasse</td>
  <td>PHYS (125/126)</td>
  <td class="email" id="pmf3"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Ellen Hoang</td>
  <td>ECON</td>
  <td class="email" id="enh4"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Derek Holliday</td>
  <td>POLI & PHIL</td>
  <td class="email" id="deh3"></td>
  <td>2016</td>
  <td>YES</td>
 </tr>
 <tr>
  <td>Terry Lin</td>
  <td>COMP</td>
  <td class="email" id="tl18"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Shilpa Nataraj</td>
  <td>BIOC (301/302)</td>
  <td class="email" id="sn24"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Mackenzie Nettlow</td>
  <td>SOCI</td>
  <td class="email" id="mln2"></td>
  <td>2016</td>
  <td>YES</td>
 </tr>
 <tr>
  <td>Jodie Nghiem</td>
  <td>FREN</td>
  <td class="email" id="jrn1"></td>
  <td>2017</td>
  <td></td>
 </tr>
 <tr>
  <td>Rachel Resnick</td>
  <td>MaTH (101/102)</td>
  <td class="email" id="rdr2"></td>
  <td>2017</td>
  <td></td>
 </tr>
 <tr>
  <td>Grant Stec</td>
  <td>CHEM (Orgo)</td>
  <td class="email" id="gjs3"></td>
  <td>2017</td>
  <td></td>
 </tr>
 <tr>
  <td>Riley Smith</td>
  <td>FWIS</td>
  <td class="email" id="res7"></td>
  <td>2017</td>
  <td></td>
 </tr>
 <tr>
  <td>Leah Topper</td>
  <td>CHEM (Gen Chem)</td>
  <td class="email" id="lbt2"></td>
  <td>2016</td>
  <td></td>
 </tr>
 <tr>
  <td>Shannon Wan</td>
  <td>BIOC (201)</td>
  <td class="email" id="sw24"></td>
  <td>2017</td>
  <td>YES</td>
 </tr>
 <tr>
  <td>Isabella Yang</td>
  <td>PHYS (101/102)</td>
  <td class="email" id="yy28"></td>
  <td>2015</td>
  <td></td>
 </tr>
 <tr>
  <td>Miki Xing</td>
  <td>MATH (211/212)</td>
  <td class="email" id="zx5"></td>
  <td>2016</td>
  <td></td>
 </tr>
</tbody>
</table>
* Denotes Head Fellow
</div>
