<title> First Year Mentors </title>

<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> First Year Mentors</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>First Year Mentors are Rice faculty and staff who serve as mentors, friends, academic advisors, and general resources for students during their first year at Rice (and beyond!). Feel free to reach out to any of our fabulous FYMs!</p>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Colette Nicolaou</td>
              <td>Pyschology</td>
              <td class="email" id="colette.nicolaou"></td>
          </tr>
          <tr>
            <td>Kelley Callaway</td>
            <td>Student Media</td>
            <td class="email" id="kcallaway"></td>
          </tr>
          <tr>
            <td>Michelle Passo</td>
            <td>Center for Career Development</td>
            <td class="email" id="mip2"></td>
          </tr>
          <tr>
            <td>Lauren Cavallaro</td>
            <td>Athletics-Life Skills</td>
            <td class="email" id="lc41"></td>
          </tr>
          <tr>
            <td>Peter Loewen</td>
            <td>Shepherd School</td>
            <td class="email" id="pvloewen"></td>
          </tr>
          <tr>
            <td>Betsy Barre</td>
            <td>Center for Teaching Excellence</td>
            <td class="email" id="barre"></td>
          </tr>
          <tr>
            <td>Justin Esarey</td>
            <td>Political Science</td>
            <td class="email" id="justin.e.esarey"></td>
          </tr>
          <tr>
            <td>Sarah Fischer</td>
            <td>Admissions</td>
            <td class="email" id="saf4"></td>
          </tr>
          <tr>
            <td>Josh Eyler</td>
            <td>Center for Teaching Excellence</td>
            <td class="email" id="jeyler"></td>
          </tr>
          <tr>
            <td>Madalina Akil</td>
            <td>Fellowships and Undergraduate Research</td>
            <td class="email" id="madalina"></td>
          </tr>
          <tr>
            <td>Neville Mann</td>
            <td>Facilities, Engineering and Planning (FE&P)</td>
            <td class="email" id="ntm1"></td>
          </tr>
          <tr>
            <td>Mark Moll</td>
            <td>Computer Science</td>
            <td class="email" id="mmoll"></td>
          </tr>
          <tr>
            <td>Neyran Turan</td>
            <td>Architecture</td>
            <td class="email" id="fnt1"></td>
          </tr>
          <tr>
            <td>Daniel Williamson</td>
            <td>Center for Digital Learning and Scholarship</td>
            <td class="email" id="dcwill"></td>
          </tr>
      </tbody>
  </table>


</div>
