

<div id="gibsons" class="span12 content-people">
  <h3 class="heading-medium"> Brian Gibson and Alana Lemay-Gibson
    <span class="subtitle">Head Resident Fellow</span>
  </h3>

  <img src="assets/img/gibsons.png" class="right rectangle-large" alt="">

  <p>Hello Murts! We would like to tell you a little about ourselves so that you will know who keeps walking their heavy-breathing bulldog all around the building.</p>

<p>Alana is from Providence, RI, and Brian is from the rural town of Rehoboth, MA. Both of us have been in Texas for a long time so our accents have been diluted. Alana received her BA in Anthropology from UT Austin and her MED in Educational Anthropology from the University of Houston. Brian received his BA in Kinesiology, and his MA and PhD in Exercise Physiology from UT Austin. We were married in Austin, TX in December of 1995.</p>

<p>Brian accepted a faculty position in the Department of Kinesiology at Rice in 1996, where he currently serves as Professor in the Practice teaching Human Physiology and Exercise Physiology courses. In 2004, he also assumed a new role in Academic Advising, and with a few changes over the years, he currently serves as the Associate Dean of Undergraduates and Director of Academic Advising. In this role, he has responsibilities for the Office of Academic Advising, the Center for Career Development and the Center for Teaching Excellence.</p>

<p>After Alana finished her education, she transitioned to working in software development and technology management. Currently, she works as a Project Manager for OpenStax College at Rice University. OpenStax College is a nonprofit organization committed to improving student access to quality learning materials. Even though OpenStax textbooks are free, they are very high quality, peer-reviewed, and customizable. For more information, please visit <a href="http://www.openstaxcollege.org" target="_blank">www.openstaxcollege.org</a>.</p>

<p>We both have lots of personal interests. We absolutely love, and dote on our dog “Bogie Theodore Gibson”, and we enjoy travel, exercise, and spending time with family and friends. We also have separate personal interests. Alana enjoys books, music, cooking, and art. Brian enjoys playing and coaching sports, lifting weights, wildlife, and photography. We have been living with students in the residential colleges since we arrived in Houston in 1996, but we were “promoted” to McMurtry in 2014. As you can tell, we like college life. In fact, we’re not sure we can remember what it is like to NOT be in college. We consider ourselves non-judgmental adults who are here to share your lives to whatever extent you wish. We would like for you to view us as the really laid-back aunt and uncle you can go to with anything. We look forward to getting to know you!</p>

<ul class="list-group contact-info">
  <li class="list-group-item disabled">Contact Information</li>
  <li class="list-group-item">Brian Gibson, Associate Dean & Director of Academic Advising, <span class="email" id="hoot"></span></li>
  <li class="list-group-item">Alana Lemay-Gibson, OpenStax College, <span class="email" id="nyxer"></span></li>
</ul>

</div>
