<title> O-Week 2014 </title>

<div class="col-md-12">
	<h1 class="center"> AcciO-Week: The Wizarding World of McMurtry </h1>
	<h3 class="center"> O-Week 2014 </h3>
	
</div>
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Advisors and Co-Advisors</h3>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>College</th>
						<th>Major(s), Minor(s)</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					 <td>Jonathan Alhalel</td>
					 <td>Will Rice</td>
					 <td>Psychology, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="ja25"></td>
					</tr>
					<tr>
					 <td>Fatima Alvi</td>
					 <td>Sid Rich</td>
					 <td>Ecology and Evolutionary Biology</td>
					 <td class="email" id="fia2"></td>
					</tr>
					<tr>
					 <td>Seth Berggren</td>
					 <td>McMurtry</td>
					 <td>Comp. and Applied Mathematics, Ecology and Evol. Biology</td>
					 <td class="email" id="skb4"></td>
					</tr>
					<tr>
					 <td>Dennis Budde</td>
					 <td>Baker</td>
					 <td>Linguistics, Visual and Dramatic Arts</td>
					 <td class="email" id="dwb3"></td> 
					</tr>
					<tr>
					 <td>Vicky Comesan&#771;as</td>
					 <td>Wiess</td>
					 <td>Political
					 Science, Policy Studies</td>
					 <td class="email" id="vrc2"></td> 
					</tr>
					<tr>
					 <td>Quinton Cox</td>
					 <td>Wiess</td>
					 <td>Chemical and Biomolecular Engineering</td>
					 <td class="email" id="qjc1"></td> 
					</tr>
					<tr>
					 <td>Rebecca Curtis</td>
					 <td>McMurtry</td>
					 <td>Chemical and Biomolecular Engineering</td>
					 <td class="email" id="rnc2"></td> 
					</tr>
					<tr>
					 <td>Makenzie Drukker</td>
					 <td>McMurtry</td>
					 <td>Political Science, Psychology</td>
					 <td class="email" id="mkd3"></td> 
					</tr>
					<tr>
					 <td>William Eldridge</td>
					 <td>McMurtry</td>
					 <td>Civil and Environmental Engineering, French Studies</td>
					 <td class="email" id="wre1"></td> 
					</tr>
					<tr>
					 <td>Alex Espan&#771;a</td>
					 <td>Martel</td>
					 <td>Ecology and Evolutionary Biology, Visual and Dramatic Arts</td>
					 <td class="email" id="ae9"></td> 
					</tr>
					<tr>
					 <td>Meron Fessahaie</td>
					 <td>McMurtry</td>
					 <td>Earth Sciences</td>
					 <td class="email" id="msf2"></td> 
					</tr>
					<tr>
					 <td>Shannon Foreman</td>
					 <td>McMurtry</td>
					 <td>Psychology, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="snf1"></td> 
					</tr>
					<tr>
					 <td>John Michael Frullo</td>
					 <td>McMurtry</td>
					 <td>Bioengineering</td>
					 <td class="email" id="jmf5"></td> 
					</tr>
					<tr>
					 <td>Joanna Hall</td>
					 <td>McMurtry</td>
					 <td>Cognitive Sciences, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="jch11"></td> 
					</tr>
					<tr>
					 <td>Helen Hoover</td>
					 <td>McMurtry</td>
					 <td>Psychology; Poverty, Justice, and Human Capabilities minor</td>
					 <td class="email" id="hch3"></td> 
					</tr>
					<tr>
					 <td>Olivia Hsia</td>
					 <td>Hanszen</td>
					 <td>Cognitive Sciences</td>
					 <td class="email" id="olh1"></td> 
					</tr>
					<tr>
					 <td>Dayae Jeong</td>
					 <td>McMurtry</td>
					 <td>Cognitive Sciences, Neuroscience and Biochem. minors</td>
					 <td class="email" id="dj5"></td> 
					</tr>
					<tr>
					 <td>Jahanzeb Kaikaus</td>
					 <td>Wiess</td>
					 <td>Kinesiology, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="jk26"></td> 
					</tr>
					<tr>
					 <td>Daniel Klein</td>
					 <td>Hanszen</td>
					 <td>English</td>
					 <td class="email" id="djk9"></td> 
					</tr>
					<tr>
					 <td>Andrea Kopczynski</td>
					 <td>McMurtry</td>
					 <td>Economics</td>
					 <td class="email" id="alk2"></td> 
					</tr>
					<tr>
					 <td>Olivia Lammers</td>
					 <td>McMurtry</td>
					 <td>Cognitive Sciences</td>
					 <td class="email" id="ocl1"></td> 
					</tr>
					<tr>
					 <td>Olivia Lee</td>
					 <td>McMurtry</td>
					 <td>Political Science; Study of Women, Gender, and Sexuality</td>
					 <td class="email" id="oml1"></td> 
					</tr>
					<tr>
					 <td>John Lee</td>
					 <td>McMurtry</td>
					 <td>Biochemistry and Cell Biology, Global Health Technologies minor</td>
					 <td class="email" id="jyl3"></td> 
					</tr>
					<tr>
					 <td>Lindsey Morgan</td>
					 <td>McMurtry</td>
					 <td>Chemical and Biomolecular Engineering, Business minor</td>
					 <td class="email" id="lpm1"></td> 
					</tr>
					<tr>
					 <td>Mackenzie Nettlow</td>
					 <td>McMurtry</td>
					 <td>Sociology</td>
					 <td class="email" id="mln2"></td> 
					</tr>
					<tr>
					 <td>Christa Nnoromele</td>
					 <td>McMurtry</td>
					 <td>Biochemistry and Cell Biology</td>
					 <td class="email" id="ccn1"></td> 
					</tr>
					<tr>
					 <td>Giray Ozseker</td>
					 <td>McMurtry</td>
					 <td>Economics, Statistics minor</td>
					 <td class="email" id="go4"></td> 
					</tr>
					<tr>
					 <td>Nicola Park</td>
					 <td>McMurtry</td>
					 <td>Cognitive Sciences, Neuroscience minor</td>
					 <td class="email" id="np10"></td> 
					</tr>
					<tr>
					 <td>Sevita Rama</td>
					 <td>Jones</td>
					 <td>Cognitive Sciences, Policy Studies</td>
					 <td class="email" id="ssr3"></td> 
					</tr>
					<tr>
					 <td>Michael Robinson</td>
					 <td>McMurtry</td>
					 <td>Chemical and Biomolecular Engineering</td>
					 <td class="email" id="mdr8"></td> 
					</tr>
					<tr>
					 <td>Jacob Schneckloth</td>
					 <td>McMurtry</td>
					 <td>Computer Science</td>
					 <td class="email" id="jts7"></td> 
					</tr>
					<tr>
					 <td>Riley Smith</td>
					 <td>McMurtry</td>
					 <td>English, Political Science, Business minor</td>
					 <td class="email" id="res7"></td> 
					</tr>
					<tr>
					 <td>Zachary Sullivan</td>
					 <td>McMurtry</td>
					 <td>Political Science, History, Asian Studies</td>
					 <td class="email" id="zds1"></td> 
					</tr>
					<tr>
					 <td>Hannah Thomson</td>
					 <td>Sid Rich</td>
					 <td>Psychology, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="hnt2"></td> 
					</tr>
					<tr>
					 <td>Cesar Udave</td>
					 <td>McMurtry</td>
					 <td>Mechanical Engineering</td>
					 <td class="email" id="cau2"></td> 
					</tr>
					<tr>
					 <td>Stephen Wahlig</td>
					 <td>Martel</td>
					 <td>Bioengineering</td>
					 <td class="email" id="sgw1"></td> 
					</tr>
					<tr>
					 <td>Kelsey Walker</td>
					 <td>McMurtry</td>
					 <td>Mathematical Economics Analysis</td>
					 <td class="email" id="kaw5"></td> 
					</tr>
					<tr>
					 <td>Eleanor Wardleworth</td>
					 <td>Duncan</td>
					 <td>French Studies, Sociology</td>
					 <td class="email" id="erw4"></td> 
					</tr>
					<tr>
					 <td>Allison Yu</td>
					 <td>McMurtry</td>
					 <td>Cognitive Sciences, Biochemistry and Cell Biology minor</td>
					 <td class="email" id="ay13"></td> 
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Coordinators</h3>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>College</th>
						<th>Major(s), Minor(s)</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>Muhammad Harirah</td>
					  <td>McMurtry</td>
					  <td>Psychology, Biochemistry and Cell Biology minor</td>
					  <td class="email" id="mhh4"></td>
					 </tr>
					 <tr>
					  <td>Sneha Kohirkar</td>
					  <td>McMurtry</td>
					  <td>Hispanic Studies, Linguistics</td>
					  <td class="email" id="sk45"></td>
					 </tr>
					 <tr>
					  <td>Tyler Woods</td>
					  <td>McMurtry</td>
					  <td>Sociology; Poverty, Justice, and Human Capabilities minor</td>
					  <td class="email" id="tmw5"></td>
					 </tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Peer Academic Advisors</h3>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>College</th>
						<th>Major(s), Minor(s)</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>Magen Eissenstat</td>
					  <td>McMurtry</td>
					  <td>English; Poverty, Justice, and Human Capabilities minor</td>
					  <td class="email" id="mae4"></td>
					 </tr>
					 <tr>
					  <td>Shilpa Nataraj</td>
					  <td>McMurtry</td>
					  <td>Biochemistry and Cell Biology, Psychology</td>
					  <td class="email" id="sn24"></td>
					 </tr>
					 <tr>
					  <td>Megan Rech</td>
					  <td>McMurtry</td>
					  <td>Psychology, Biochemistry and Cell Biology minor</td>
					  <td class="email" id="mr18"></td>
					 </tr>
					 <tr>
					  <td>Madhuri Venkateswar</td>
					  <td>McMurtry</td>
					  <td>Chemical and Biomolecular Engineering, PJHC minor</td>
					  <td class="email" id="msv5"></td>
					 </tr>

				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Affiliates</h3>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>College</th>
						<th>Major(s), Minor(s)</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>Dorin Azerad</td>
					  <td>McMurtry</td>
					  <td>Anthropology, Visual and Dramatic Arts</td>
					  <td class="email" id="dna5"></td>
					 </tr>
					 <tr>
					  <td>Adam Bloom</td>
					  <td>McMurtry</td>
					  <td>Electrical and Computer Engineering</td>
					  <td class="email" id="asb7"></td>
					 </tr>
					 <tr>
					  <td>Juan Sebastian Cruz</td>
					  <td>McMurtry</td>
					  <td>Visual and Dramatic Arts</td>
					  <td class="email" id="jsc5"></td>
					 </tr>
					 <tr>
					  <td>Jared Elinger</td>
					  <td>McMurtry</td>
					  <td>Mechanical Engineering</td>
					  <td class="email" id="jde5"></td>
					 </tr>
					 <tr>
					  <td>Jessica Kelly</td>
					  <td>McMurtry</td>
					  <td>English, Policy Studies</td>
					  <td class="email" id="jlk4"></td>
					 </tr>
					 <tr>
					  <td>Jackie Mutai</td>
					  <td>McMurtry</td>
					  <td>Political Science, Policy Studies</td>
					  <td class="email" id="jcm6"></td>
					 </tr>
					 <tr>
					  <td>Kate Nicholson</td>
					  <td>McMurtry</td>
					  <td>Ecology and Evol. Biology, Latin Amer. Studies, PJHC minor</td>
					  <td class="email" id="ccn2"></td>
					 </tr>
					 <tr>
					  <td>William Roberts</td>
					  <td>McMurtry</td>
					  <td>Economics, Sports Management</td>
					  <td class="email" id="wtr1"></td>
					 </tr>
					 <tr>
					  <td>Gabriel Teo</td>
					  <td>McMurtry</td>
					  <td>Economics, Managerial Studies, Business minor</td>
					  <td class="email" id="kt14"></td>
					 </tr>
					 <tr>
					  <td>Leah Topper</td>
					  <td>McMurtry</td>
					  <td>Ecology and Evolutionary Biology, Jewish Studies minor</td>
					  <td class="email" id="lbt2"></td>
					 </tr>
					 <tr>
					  <td>Melissa Verne</td>
					  <td>McMurtry</td>
					  <td>Political Science, Asian Studies</td>
					  <td class="email" id="mrv3"></td>
					 </tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

