<title> PAA </title>

<div class="row">
<div id="content-people-header" class="col-md-8">
  <h1 class="heading-medium"> Peer Academic Advisors </h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>

<div id="content-people-image" class="col-md-4">
  <!-- profile image. replace masters.jpeg with correct image -->
  <!--
  <img src="assets/img/masters.jpeg" class="img-fluid" alt="">
  -->
</div>
</div>

    

<div id="content-people" class="col-md-12">
  Peer Academic Advisors (PAAs) are fellow Murts who have been trained by the Office of Academic Advising to give academic advice on a wide range of topics. These are the students to talk to if you have questions about class registration, graduation requirements, declaring a major, research, study abroad, and so much more!

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Major</th>
        <th>Email</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
         <tr>
          <td>Dorin Azerad</td>
          <td>Social Sciences, Visual and Dramatic Arts</td>
          <td class="email" id="dna5"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Adam  Bloom</td>
          <td>Electrical Engineering</td>
          <td class="email" id="asb7"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Gabriela De Lima</td>
          <td>Bioengineering</td>
          <td class="email" id="gmd1"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Alexander DeWitt</td>
          <td>Classical Studies, Teaching</td>
          <td class="email" id="agd2"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Belicia Ding</td>
          <td>Psychology, Biochemistry and Cell Biology Minor, Pre-Med</td>
          <td class="email" id="bkd1"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Magen Eissenstat</td>
          <td>English, Poverty, Justice and Human Capabilities Minor</td>
          <td class="email" id="mae4"></td>
          <td>2017</td>
         </tr>
         <tr>
             <td>Sean Harger</td>
             <td>Computer Science</td>
             <td class="email" id="ssh2"></td>
             <td>2015</td>
         </tr>
         <tr>
             <td>Mishaal Hassan</td>
             <td>Astrophysics</td>
             <td class="email" id="mah13"></td>
             <td>2015</td>
         </tr>
         
         <tr>
          <td>Patrick Huang</td>
          <td>English, Biochemistry and Cell Biology, Pre-Med</td>
          <td class="email" id="pjh4"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Dayae Jeong</td>
          <td>Cognitive Science, Biochemistry and Cell Biology minor, Neuroscience minor</td>
          <td class="email" id="dj5"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Sneha  Kohirkar</td>
          <td>Linguistics</td>
          <td class="email" id="sk45"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Ryan  McKnight<strong>*</strong></td>
          <td>Mechanical Engineering</td>
          <td class="email" id="ram10"></td>
          <td>2015</td>
         </tr>
         <tr>
             <td>Nico Medellin</td>
             <td>Bioengineering, Business minor</td>
             <td class="email" id="inm2"></td>
             <td>2017</td>
         </tr>
         <tr>
          <td>Lindsey Morgan</td>
          <td>Chemical and Biomolecular Engineering, Business minor</td>
          <td class="email" id="lpm1"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Shilpa Nataraj<strong>*</strong></td>
          <td>Biochemistry and Cell Biology, Psychology, Pre-Med</td>
          <td class="email" id="sn24"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Nicola Park</td>
          <td>Cognitive Sciences</td>
          <td class="email" id="np10"></td>
          <td>2015</td>
         </tr>
         <tr>
          <td>Megan Rech</td>
          <td>Psychology, Biochemistry and Cell Biology Minor</td>
          <td class="email" id="mr18"></td>
          <td>2015</td>
         </tr>
         <tr>
             <td>Rachel Resnick</td>
             <td>Computational and Applied Mathematics</td>
             <td class="email" id="rdr2"></td>
             <td>2017</td>
         </tr>
         <tr>
             <td>Grant Stec</td>
             <td>Chemistry, Biochemistry and Cell Biology minor</td>
             <td class="email" id="gjs3"></td>
             <td>2017</td>
        </tr>
        <tr>
            <td>Kelly Tomasevich</td>
            <td>Biochemistry and Cell Biology</td>
            <td class="email" id="kmt6"></td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Madhuri Venkateswar</td>
            <td>Chemical and Biomolecular Engineering</td>
            <td class="email" id="msv5"></td>
            <td>2017</td>
        </tr>
         <tr>
          <td>Jennifer Walker</td>
          <td>Bioengineering</td>
          <td class="email" id="jlw6"></td>
          <td>2016</td>
         </tr>
         <tr>
          <td>Tyler Woods</td>
          <td>Sociology; Poverty, Justice and Human
          Capabilities Minor</td>
          <td class="email" id="tmw5"></td>
          <td>2015</td>
         </tr>
         <tr>
             <td>Miki Xing</td>
             <td>Statistics, Economics, Computational and Applied Mathematics</td>
             <td class="email" id="zx5"></td>
             <td>2016</td>
         </tr>
         <tr>
          <td>Chelsea  Zeller</td>
          <td>Economics, Managerial Studies</td>
          <td class="email" id="cjz1"></td>
          <td>2015</td>
    </tbody>
  </table>
  * Denotes Head PAA
</div>
