<title> Peer Career Advisors </title>
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> Peer Career Advisors</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>Need your resume looked over? Want advice before your interview? Talk to one of our PCAs!</p>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Year</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Philip Frasse</td>
              <td>2016</td>
              <td class="email" id="pmf3"></td>
          </tr>
          <tr>
            <td>Ellen Hoang</td>
            <td>2016</td>
            <td class="email" id="enh4"></td>
          </tr>
          <tr>
            <td>George Randt</td>
            <td>2017</td>
            <td class="email" id="gmr2"></td>
          </tr>
          <tr>
            <td>Jackie Yang</td>
            <td>2016</td>
            <td class="email" id="by9"></td>
          </tr>
      </tbody>
  </table>


</div>
