<title> Rice Health Advisors </title>
<div id="content-people-header" class="col-md-12">
  <h1 class="heading-medium"> Rice Health Advisors</h1>
  <div class="subtitle"><!-- Title --></div>
  <!-- Short description of position -->
</div>



<div id="content-people" class="col-md-12">
  <p>McMurtry RHAs are students who have the knowledge and tools to serve as a point of contact for all mental and physical health needs. They are bound by confidentiality agreements - don't be afraid to ask them for help!</p>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Juan Cruz</td>
              <td class="email" id="jsc5"></td>
          </tr>
        <tr>
            <td>Andrea Kopczynski</td>
            <td class="email" id="alk2"></td>
        </tr>
        <tr>
            <td>David Lakomy</td>
            <td class="email" id="David.S.Lakomy"></td>
        </tr>
        <tr>
            <td>Regina Leslie</td>
            <td class="email" id="rel1"></td>
        </tr>
        <tr>
            <td>Matt McGee</td>
            <td class="email" id="Matt.McGee"></td>
        </tr>
        <tr>
            <td>Allison Yu</td>
            <td class="email" id="Allison.Yu"></td>
        </tr>
      </tbody>
  </table>


</div>
