<title> SMR </title>


<div id="content-people" class="col-md-12">
    <h2>Student Maintenance Representative</h2>
    <p>The Student Maintenance Representative (SMR) serves as the student liasion between McMurtry and Housing & Dining. The SMR can help you loft your bed, get your light bulb replaced, or help with other housing maintanence issues. If you have any issues with your room, contact the SMR to make sure it gets resolved quickly!</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>Adam Bloom</li>
      <li>(847) 404-3386</li>
      <li><span class="email" id="adam.s.bloom"></span></li>
    </ul>
  </div>
</div>  


</div>
<!---<div id="content-people" class="col-md-12">
 <h3 class="heading-medium"> Adam Bloom
      <span class="subtitle">Student Maintenance Representative</span>
    </h3>

  <p></p>

<p></br>Adam Bloom</br>
(847) 404-3386</br>
<span class="email" id="adam.s.bloom"></span></p>
</div>-->




