
<div id="tabitha" class="span12 content-people">
  <h3 class="heading-medium"> Tabitha Stanley
    <span class="subtitle">College Coordinator</span>
  </h3>

  <img src="assets/img/tabitha.jpg" class="right rectangle-medium" alt="">

  <p>Hello, I am Tabitha Stanley, your McMurtry College Coordinator. Here's a bit of information about me. I am a 1998 University of Houston graduate (Go Coogs). I recieved a BBA in Management Information Systems. I have 2 wonderful and talkative elementary-aged children. Prior to becoming your McMurtry College Coordinator, I was a Continuing Education Program Coordinator, Medical Office Manager, Stay at Home Mom, and Software Test Analyst. Here are some of the things you can do in the office: buy stamps and envelopes, send faxes, make copies, use basic office supplies, hide from other people, and sit and talk.</p>

  <p>Some things I like: talking to students, helping you locate information, helping to solve problems, planning parties, talking about my kids, and old movies. </p>

  <p>Some things I don't like: items left in my office, bad attitudes, sorting mail (but it's part of my job), and war movies.</p>

  <ul class="list-group contact-info">
    <li class="list-group-item disabled">Contact Information</li>
    <li class="list-group-item">Tabitha Stanley, College Coordinator, <span class="email" id="ts12"></span></li>
    </ul>
  
  </br>
  <h3 class="heading-medium"> Office Information </h3>
  <h2> <span class="subtitle"> Office Hours </span> </h2>
  <p> There are times the office will be closed.  These may include, emergency, illness, meetings, university holidays, or personal time off.  I will attempt to use student workers to cover SOME of those.  However, as is the case with most other colleges, the office may not be open all day during these time periods.   When the office is closed a notice will be placed on the door, and when possible a notice sent to the listserv.  Student workers work in the afternoon and close the office. </p> 
<h2> <span class="subtitle"> Packages </span> </h2>
  <p> There are not set delivery times for packages.  I am not aware and do not control when deliveries will arrive.  If you are expecting a package that you need that day, let me know ahead of time.  If I am aware of an urgent need and will not be here, alternate arrangements may be may made. </p>
  <p> The office is not responsible for any packages that are delivered and placed in the package cabinet.   If you are missing a package, I am happy to assist you in locating the package. </p>
  <p> In the event of my absence, I will attempt to make arrangements for packages to be delivered to another college.  Otherwise, they will be sent to Delivery Services and delivered to McMurtry the following day.  You will be notified of any alternate pickup options via a notice on the door and/or email. </p>
<h2> <span class="subtitle"> Key Service </span> </h2>
  <p> Key service is available through the office.  If no one is in the office and you need key service, contact Housing at 713-348-5440.  RUPD handles key service in the evening.  You may contact RUPD at 713-348-6000. </p>
<h2> <span class="subtitle"> Miscellaneous </span> </h2>
  <p> If you have any questions or concerns, let me know.  I cannot assist you, if I don’t know you have a problem. </p>

</div>
