<div class="span12">
<ul class="nav nav-pills" id="tabs">
  <li class="active">
    <a href= "beerbikep" data-target="#" data-toggle="tab">Beer Bike!</a>
  </li>
    <li><a href="screwp" data-target="#" data-toggle="tab">Screw</a></li>
  <li><a href="#morep" data-toggle="tab">More Photos</a></li>
  <li><a href="" data-toggle="tab">lalalala</a></li>
</ul>
</div>
<div class="span12" id="beerbikep">
<ul class="thumbnails">
  <li class="span4">
    <a href="assets/img/homepage/ec2012.jpg" class="thumbnail">
      <img src="assets/img/homepage/ec2012.jpg" alt="">
    </a>
  </li>
 <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
  </li>
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
  </li>
</ul>
</div>


<div class="span12" id="screwp">
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
  </li>
 <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
  </li>
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
  </li>
</ul>
</div>


