<style>
  #calendar_colors > li {
    font-weight: bold;
    font-size: 11pt;
  }
</style>

<title> Room Reservations </title>

<div class="container">

    <h1>Guide to Room Reservations</h1>
    <div class="col-md-12">
      <p>McMurtry has multiple rooms that are available for reservation. These rooms are the Private Dining Room (located above West Servery), the Library (also located above West Servery), the McMurtry Private Rooms (which are the study rooms, the TV lounge, and the game room all located on the first floor of McMurtry), and the McMurtry Commons.</p>
    </div>

    <div class="col-md-12">

      <p>If you are looking to reserve a room, please check the respective calander below to find a time and then email the McMurtry Secretary (<span class="email" id="mcmsecretary"></span>) with the room, date, time you will begin, time you will end, and the reason for the reservation. All reservations require approval and all decisions are left to the discretion of the McMurtry Secretary. </p>
      <h6>Some special rules apply for reserving the Commons and the Private Rooms.</h6>
      <ul>
        <li> McMurtry Commons: Reservations must not conflict with any normal use of the Commons, i.e. any meal time.</li>
        <li>McMurtry Private Rooms: Reservations must come from a McMurtry Student or Affiliate and only one Private Room may be reserved at any given time. The Murt Lounge is not reservable. For study room reservations, there are certain limits that apply. Reservations may occur no more than once a week, for no longer than two hours, and reservations may not occur after 8 PM or during peak periods, such as finals. </li>
        <li>McMurtry Quad: If any group desires to use the McM Quad, all requests must go through the secretaries. There must be no conflict with McMurtry College events. </li>
      </ul>
      <h6>Calendar Color Code:</h6>
      <ul id="calendar_colors">
        <li><span style="color: #711616">McMurtry Commons</span><br></li>
        <li><span style="color: #2952A3">McMurtry Library</span><br></li>
        <li><span style="color: #B1440E">McMurtry PDR</span><br></li>
        <li><span style="color: #7A367A">McMurtry Private Rooms</span><br></li>
      </ul>
    </div>

    <div class="col-md-12 padding-none margin-none">
      <hr />
    </div>

    <div class="col-md-12">
      <iframe src="https://www.google.com/calendar/embed?title=McMurtry%20Room%20Reservations&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=0f3kl49v8sj9e8uhnai2650gcc%40group.calendar.google.com&amp;color=%23711616&amp;src=4dhakblbm17pa376068av8moh8%40group.calendar.google.com&amp;color=%232952A3&amp;src=5mugoru2rjvuervqljdmtf0ir8%40group.calendar.google.com&amp;color=%23B1440E&amp;src=5422drij3gaqdvudf8ri6ppink%40group.calendar.google.com&amp;color=%237A367A&amp;ctz=America%2FChicago" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>


</div>
