<title> Technology Information </title>

<div class="col-md-12">

  <div class="content">
  <h1>Guide to McMurtry Technology</h1>

    <p>McMurtry has a large amount of technology resources available to its members. Below you will find guides to the equipment in the PDR, Commons, and equipment available to checkout.</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">McMurtry TV Room</h3>
        </div>
        <div class="panel-body">

<p>The TV Room is equipped with a high definition television, Blu-ray/DVD player, Wii, and surround sound system. A general purpose HDMI cable is available for using your laptop (or another compatible device) to project onto the screen. Please note that upon swiping your ID to enter the room, you accept full responsibility for the equipment present in the room and any reports of lost or broken equipment could result in a case brought against you through SJP.</p>
<p><strong>It is very important that you do not change ANY of the cables.</strong> The complex cabling is set up to support everything you could possibly want to do. If there is a feature you would like us to support, please contact <span class="email" id="mcmurtrytech"></span>.</p>
<p>To control the system, use the <a href="http://www.logitech.com/en-us/product/harmony-remote-650">Logitech Harmony remote</a> located inside the room.<p>
<p>To turn on the system, select an activity from the buttons at the top of the remote. Everything will automatically turn on and switch, <strong>but you need to make sure you point the remote directly at the entertainment system.</strong></p>
<ul>
    <li><u>Watch TV</u> allows you to watch Cable TV using the surround sound system.</li>
    <li><u>Watch a Movie</u> allows you to watch a Blu-ray or DVD using the player and the surround sound system.</li>
    <li><u>More activities</u> includes the following activities (on the screen)</li>
    <ul>
        <li><u>Play game</u> allows you to play games using the Wii. You cannot control the Wii using the remote so use the Wiimote in conjunction with the Logitech remote</li>
        <li><u>Use laptop</u> allows you to project an auxiliary source onto the TV and sound system using the HDMI cable. Use the HDMI cable sitting on the right side of the cabinet to connect your device to the system. <strong>Do not plug the cable directly into the TV.</strong></li>
    </ul>
</ul>
<p>To turn the system off, make sure to point the remote at the system and press the circular <u>All off</u> button at the top of the remote.</p>

<p>If you are having difficulty with the above equipment or are having trouble getting your laptop or auxiliary device to work, please feel free to contact one of technology representatives who would be more than happy to assist you. There is a poster in the TV room with their names and numbers.</p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">McMurtry Commons</h3>
    </div>
    <div class="panel-body">


    <p>The commons is equipped with a projector, audio system, and presentation podium. Please <a href="#roomReservation">reserve the commons</a> to ensure the availability of this equipment. Inside the closet, you will find a rack containing an audio mixer and touch screen controls for the digital media system. Instructions are attached to the inside of the door. This system is capable of the following:</p>
    <ul>
    <li>Playing DVDs or Blu-Ray discs</li>
    <li>Playing music from a phone, iPod, or laptop</li>
    <li>Projecting live television</li>
    <li>Projecting from a laptop in the closet or from the podium</li>
    <li>Projecting images from the document camera</li>
    <li>Amplifying voices with wired or wireless microphones</li>
    </ul>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">McMurtry Private Dining Room</h3>
    </div>
    <div class="panel-body">

    <p>The PDR is equipped with a projector and audio system. Please <a href="#roomReservation">reserve the PDR</a> to ensure the availability of this equipment. The PDR system is controlled via a touchscreen to the right of the window. The laptop inputs are in a floor pocket in the center of the room. A Blu-Ray/DVD player is available, but the cabinet is normally kept locked, so please ask in advance. This system is capable of the following:</p>
    <ul>
    <li>Playing DVDs or Blu-Ray discs</li>
    <li>Projecting from a laptop</li>
    </ul>
</div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Other Technology Equipment</h3>
    </div>
    <div class="panel-body">

 <p>McMurtry owns additional portable equipment that is available for use. Note that the use of this equipment requires a <a href="#equipmentRental">signed liability waiver and a rental request form</a>.</p>
    
    <h6>List of equipment available for checkout</h6>
    <ul>
      <li>Stacks (QSC HPR153s)</li>
      <li>Smaller Powered Speakers (QSC K8s and K10s)</li>
      <li>Mixers</li>
      <li>Microphones and Stands</li>
      <li>Lighting Equipment</li>
      <li>Cable</li>
    </ul>

</div>


</div>
</div>
</div>
