<title> McMurtry College </title>

<style>

  #myCarousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
  }


  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  #content{
    margin-top: 6px;
  }
  #calendar{
    margin: 30px;
  }

  .title {
    padding: 6px;
    font-weight: normal;
  }

  .date{
    font-style: italic;
    padding-left: 6px;
  }

  #content-header > h1 {
    font-family: McM;
    font-size: 48pt;
    text-align: center;
  }
  
  #content-header {
    padding-bottom: 30px;
  }
</style>


<!-- Carousel -->
<!--
<div id="content-header" class="col-md-12">
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="active item">
        <img src="assets/img/homepage/commons.jpg"  alt="">
        <div class="carousel-caption">
          <h4>McMurtry College Commons</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/homepage/banana.jpg" alt="">
        <div class="carousel-caption">
          <h4>Beer Bike 2012</h4>
          <p>McMurtry is bananas!</p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/homepage/beerbike.jpg" alt="">
        <div class="carousel-caption">
          <h4>Beer Bike 2012</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/homepage/hall_bonding.jpg" alt="">
        <div class="carousel-caption">
          <h4>Hall Bonding Tug of War</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/homepage/powderpuff_cheerleaders.jpg" alt="">
        <div class="carousel-caption">
          <h4>Powderpuff Cheerleaders</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/homepage/powderpuff.jpg" alt="">
        <div class="carousel-caption">
          <h4>Powderpuff 2012</h4>
          <p></p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
-->
<div id="content-header" class="col-md-12">
  <h1> McMurtry College </h1>
      <img class="img-responsive center" src="assets/img/banner.jpg" />
</div>

<div id="content-header" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<h1>OWeek Info</h1>
<h4>Welcome to McMurtry College and Rice University!! As you prepare for the excitement of MarshMallO-Week, you can use the menu above to <a href = 'http://mcmurtry.rice.edu/#oweekVideos'>watch O-Week Videos</a>, read a <a href = 'http://mcmurtry.rice.edu/#oweekWelcome'>message from our O-Week Coordinators</a>, and see why <a href = 'http://mcmurtry.rice.edu/#oweekExplanation'>we love camping</a>! Feel free to peruse this website for a small preview of life at McMurtry. If you have a question about O-Week, you can contact any of the three coordinators or Rice's <a href = 'http://firstyear.rice.edu/content.aspx?id=54'>Office of First-Year Programs</a>.</h4>
</div>

<div id="content-header" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<h1>Contact Info</h1>
<table class="table table-hover">
  <thead>
    <th colspan="2">O-Week Contacts</th>
  </thead>
  <tbody>
<tr><td>Leah Topper</td><td class="email" id="leah.b.topper"></td></tr>
<tr><td>Seth Berggren</td><td class="email" id="seth.k.berggren"></td></tr>
<tr><td>Mackenzie Drukker</td><td class="email" id="mkd3"></td></tr>
<tr><td>Office of First-Year Programs</td><td><a href = "http://firstyear.rice.edu/content.aspx?id=54">http://firstyear.rice.edu</td></tr>
</tbody></table>
</div>

<div id="content-header" class="col-md-12">
<h1>Move In Is August Sixteenth!!</h1>
</div>

<img class="img-responsive center" src="assets/img/quad_1.jpg" />

<img class="img-responsive center" src="assets/img/parking.jpg" />


<div id="calendar" class="row">
</div>

<div id="content" class="row">
  <div class="col-md-4 hidden-xs hidden-sm">
    <img class="img-responsive" src="assets/img/crest_trans.png" />
  </div>
  <div class="col-md-4">
  <a class="twitter-timeline" href="https://twitter.com/mcmsecretary" data-widget-id="490947313687207936">Tweets by @mcmsecretary</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="col-md-4 hidden-xs hidden-sm">
  <img class="img-responsive" src="assets/img/crest_trans.png" />
</div>

</div>


</div>
