
<div id="masters" class="col-md-12 content-people">
  <h3 class="heading-medium"> An Explanation of the Theme
  </h3>

   <img src="assets/img/masters.jpg" class="right rectangle-medium" alt="">

<p>Whether it's in a tent, an RV, or your very own backyard under the stars, camping is an activity with the potential to reinvent how you see the world. Individually, it can help you feel more at home in the world in which you live. With others, it can foster connections and friendships that last a lifetime.</p> 

<p>Support will be a major focus of this O-Week. The same way the earth supports the poles of a tent which, in turn, support the fabric, we hope that MarshmallO-Week will be able to provide you with the support you need to be yourself here at Rice. Further, we hope you will begin to feel the support of the entire McMurtry community, and to contribute your support to others and to the College.</p>

<p>There's also a bit of history in the name! When the first class of Murts moved into McMurtry, the Commons was not yet finished, so students ate meals under a giant tent. This led to the development of the Commons' nickname: "the Yurt," after a type of Mongolian tent. So for those first few weeks of its existence, McMurtry was literally "in tents"; and this week, you will be too. (But you will get to sleep inside. Don't worry.) Furthermore, the reference to marshmallows stems from the fact that marshmallows are quite commonly roasted over fires during camping trips.</p>

<p>Throughout the week, there will be a number of camping and nature references in the O-Week group names and in our activities. We hope those of you with camping experience (not matter the type) will enjoy the references, but you won't need to be a Eagle Scout to enjoy this week. In fact, Makenzie hates camping-- so those of you who dislike camping will be in good company!
</p>

<p>We hope this week is a taste of the beauty of nature and the excitement of camping!</p>

    <ul class="list-group contact-info">
      <li class="list-group-item disabled">Contact Information</li>
      <li class="list-group-item">Karim Al-Zand, Shepherd School of Music, <span class="email" id="alzand"></span></li>
      <li class="list-group-item">Dereth Phillips, Department of Biochemistry and Cell Biology, <span class="email" id="derethp"></span></li>
    </ul>


</div>
