
<div id="masters" class="col-md-12 content-people">
  <h3 class="heading-medium"> A Message from the Coordinators
  </h3>

   <img src="assets/img/masters.jpg" class="right rectangle-medium" alt="">

<p>Dear Newest Murts,</p>  

<p>Welcome to Rice University and to McMurtry College! One of the most wonderful aspects of Rice is the residential college system, and you have the great honor of being the seventh matriculating class of McMurtry College.</p> 

<p>You're about to begin one of the most challenging and rewarding phases of your life. You’re far from alone though. Soon you'll meet just a few of the students, staff, and faculty that will be there to support you through O-Week and beyond. By the end of the week, we hope you’ll feel at ease and at home at Rice and in McMurtry.</p>

<p>We are Leah, Makenzie, and Seth, the 2015 McMurtry O-Week Coordinators! We have been preparing for your arrival since January - choosing a theme, selecting an advising team, planning events, pairing roommates, and creating this book. Orientation Week (O-Week) is one of the best-known traditions at Rice, and when you arrive on campus, there will be an entire team of upperclassmen advisors eager to meet you and help you adjust to life at Rice. Throughout the week, you'll learn about social and academic life at Rice, register for classes, participate in a range of activities within McMurtry and with other colleges!</p>

<p>As excited as you may be, we know that starting college can be daunting. This book was made to give you an introduction to Rice and to McMurtry, and to answer a few of the questions you may have. Inside this book, you'll find the biographies of the adult staff (Masters, Resident Associates, Head Resident Fellow, etc.) and the advising team, articles on academics, extracurricular activities, Houston, and much, much more! Use it as a resource, but feel free to contact us at any point during the summer (mcmurtryoweek@gmail.com). For campus-wide information on O-Week, please visit firstyear.rice.edu and "like" First Year Programs on Facebook!</p>

<p>We hope you will come into MarshmallO-Week with an open mind, ready to explore the all the opportunities you'll have at Rice. Whether you choose to camp solo or with a few other Murts, we hope that you'll never hesitate to ask for help. The McMurtry community exists for you as much as it is created by you - so leave your mark!</p>

<p>Murt love,
Seth, Leah, and Makenzie</p>

    <ul class="list-group contact-info">
      <li class="list-group-item disabled">Contact Information</li>
      <li class="list-group-item">Karim Al-Zand, Shepherd School of Music, <span class="email" id="alzand"></span></li>
      <li class="list-group-item">Dereth Phillips, Department of Biochemistry and Cell Biology, <span class="email" id="derethp"></span></li>
    </ul>


</div>
