<title> Events </title>
<div id="content-people" class="span12">
<img src='assets/img/orchestra_banner.jpg'>
<h1 class='center'> Events! </h1>
<p> Are you looking for McMurtry Events? Those can be found at the bottom of the<a href="#">home page</a>. </p>


<br>


<!--
<iframe src="https://www.google.com/calendar/embed?title=Cultural%20Events&amp;src=mcculturals%40gmail.com&ctz=America/Chicago" style="border: 0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
-->

</div>

<div class="span12">
<h2> Rice Events </h2>

<p> Check out all of the upcoming events on campus! See the campus<a href="http://events.rice.edu" target="_blank">events calendar</a> for more information, or click on any event listed below. </p>
</div>
<div id="riceEventsList" class="span12">
</div>



<!--<div class='span12'>
<br><br>
<h2> Houston Cultural Events </h2>
<p> Check out all of the awesome cultural events in Houston! Click on individual events for more information and a map. This is a great resource for completing the McMurtry Culture Challenge! </p>
</div>
<div id="culturals" class="span12">
</div> -->


<div class='span12'>
<br><br>
</div>


<div id="rpcCal" class="span12">
</div>
<!--
<iframe class="span6" src="https://www.google.com/calendar/embed?title=RPC%20Campus%20Programming&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=riceprogramcouncil%40gmail.com&amp;color=%23125A12&amp;src=rice.edu_90aprbs5m5el9odenh43sff5hc%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FChicago" frameborder="0" scrolling="no" width="100%" height="600"></iframe>
-->


